doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 
        include ../../includes/dashcss
        style
            include ../../../public/stylesheets/dashboard/collection/collectionDetails.css
        link(rel="stylesheet" href="/vendors/dropzone/dropzone.min.css")
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-10.second-side
                    div.d-none.collection-container
                        form.form
                            .row
                                .col-12.mb-4
                                    .form-group.my-2
                                        h6 Collection Name
                                        input.form-control(placeholder="Class 10th all math mcq pdf",type="text").collection-name
                                        .invalid-feedback
                                            p.invalid-title-error Collection name should be atleast 10 characters
                                        .valid-feedback
                                            p looks good
                                    .form-group.my-2
                                        h6 Collection Descriptions
                                        textarea.form-control(rows="4" cols="5")
                                        .invalid-feedback
                                            p.invalid-title-error Collection descriptions should be atleast 20 characters
                                        .valid-feedback
                                            p looks good
                                    .form-group
                                        .btn-group(role="group")
                                            button.btn.btn-notesocean.btn-sm.update-collection-btn(type="button")
                                                i.fa.fa-save.mx-1
                                                span Update
                                            button.btn.btn-dark.btn-sm.mx-1.delete-collection-btn(type="button")
                                                i.fa.fa-trash
                                                span  Delete
                                            button.btn.btn-success.btn-sm.mx-1.upload-notes-collection-btn(type="button")
                                                i.fa.fa-cloud-arrow-up
                                                span  Upload
                                .col-12
                                    h5 Collection Notes
                                    .colllection-notes-selector.row
                                        .collection-notes-item.plus.col-md-4
                                            .card.h-100
                                                .card-body.d-flex.justify-content-center.align-items-center.p-5
                                                    h1.fa.fa-plus

                    div.collection-removed.d-none
                        div.collection-removed-info.text-center.mx-auto
                            i.fa.fa-info
                        h6.text-center This collection can't access it may removed or insufficient permission
                    div.loading-collection
                        center 
                            .lds-roller
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                                div
            .modal(tabindex='-1')#select-public-notes-modal.fade
                    .modal-dialog.modal-fullscreen
                        .modal-content
                            .modal-header
                                .div 
                                    h6.modal-title Add Public Notes                                   
                                .div 
                                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                form
                                    .container-fluid
                                        .row.public-notes-row-modal
                                .row.loading-public-notes
                                    center 
                                        .lds-roller
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                        p Your public notes are loading... please wait...    
                            .modal-footer
                                button.btn.btn-primary.collection-add-btn Add
            .modal.collections-context-menu
                .modal-dialog.modal-dialog-centered.modal-sm
                    .modal-content.border-0
                        .modal-header.border-0
                            .modal-title Options
                        .modal-body.border-0.px-0.py-1
                            .list-group.border-0.p-0
                                a.list-group-item.list-group-item-action.border-0(href='#')#delete-collections
                                    i.fa.fa-times.mx-1
                                    span Remove
                                a.list-group-item.list-group-item-action.border-0(href='#')#preview-collections 
                                    i.fa.fa-eye.mx-1
                                    span Preview 
            .modal.upload-modal(data-bs-backdrop="static" data-bs-keyboard="false")
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            span Upload Notes
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form.upload-form
                                .form-group
                                    label Title
                                    input(type="text" placeholder="Title" class="form-control").note-title
                                    .invalid-feedback
                                        p.invalid-title-error invalid title
                                    .valid-feedback
                                        p looks good
                                .formp-group.my-3
                                    label Description
                                    textarea.form-control(rows="4" cols="5", placeholder="Write something about your note").note-descriptions
                                    .invalid-feedback
                                        p.invalid-descriptions-error invalid Description
                                    .valid-feedback
                                        p looks good
                                .form-group.my-3
                                    div(class="dropzone" id="file-upload")
                                .form-group.my-3
                                    button.upload-notes-btn.btn.btn-notesocean.btn-sm(type="button")
                                        i.fa.fa-cloud-arrow-up.mx-1
                                        span Upload
        script(src="/vendors/dropzone/dropzone.min.js")
        include ../../includes/dashjs
        script(src="/javascripts/dashboard/collections/collections-details.js")
        //script(src="/javascripts/dashboard/collections/collection_notes_upload.js")
