doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Collection Name
        include ../../includes/dashcss
        style
            include ../../../public/stylesheets/dashboard/collection/collectionDetails.css
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-10.second-side
                    div.d-none.collection-container
                        form.form
                            .row
                                .col-12
                                    h5 Collection Details
                                    .form-group.my-2
                                        label Collection Name
                                        input(type="text").form-control(placeholder="Class 10th all math mcq pdf").collection-name
                                        .invalid-feedback
                                            p.invalid-title-error Collection name should be atleast 10 characters
                                        .valid-feedback
                                            p looks good
                                    .form-group.my-2
                                        label Collection Descriptions
                                        textarea.form-control(rows="4" cols="5")
                                        .invalid-feedback
                                            p.invalid-title-error Collection descriptions should be atleast 20 characters
                                        .valid-feedback
                                            p looks good

                                    .form-group.my-2
                                        label Collection Thumbnail(500x500 px) 
                                        br
                                        img.card-img-top.select-banner-img(src="/images/dummy/collection.png")
                                        br
                                        a.btn.btn-sm.mt-1.change-img-btn.btn-primary Change
                                .col-12
                                    h5 Collection Notes
                                    .colllection-notes-selector.row
                                        //- .collection-notes-item.col-md-4
                                        //-     .card
                                        //-         .card-header
                                        //-             i.fa.fa-times.delete-note-from-collection(data-note-id="6048")
                                        //-         .card-body
                                        //-             img.card-img-top(src="/images/dummy/collection.png").w-100.collection-notes-thumbnail
                                        //-         .card-footer
                                        //-             .card-text 
                                        //-                 small Notes name dfghdfhfgh
                                        //- .collection-notes-item.col-md-4
                                        //-     .card 
                                        //-         .card-header
                                        //-             i.fa.fa-times.delete-note-from-collection(data-note-id="6050")
                                        //-         .card-body
                                        //-             img.card-img-top(src="/images/dummy/collection.png").w-100.collection-notes-thumbnail
                                        //-         .card-footer
                                        //-             .card-text 
                                        //-                 small Notes name
                                        //- .collection-notes-item.col-md-4
                                        //-     .card 
                                        //-         .card-header
                                        //-             i.fa.fa-times.delete-note-from-collection(data-note-id="6049")
                                        //-         .card-body
                                        //-             img.card-img-top(src="/images/dummy/collection.png").w-100.collection-notes-thumbnail
                                        //-         .card-footer
                                        //-             .card-text 
                                        //-                 small Notes name
                                        //- .collection-notes-item.col-md-4
                                        //-     .card 
                                        //-         .card-header
                                        //-             i.fa.fa-times.delete-note-from-collection(data-note-id="21432")
                                        //-         .card-body
                                        //-             img.card-img-top(src="/images/dummy/collection.png").w-100.collection-notes-thumbnail
                                        //-         .card-footer
                                        //-             .card-text 
                                        //-                 small Notes name
                                        .collection-notes-item.plus.col-md-4
                                            .card.h-100
                                                .card-body.d-flex.justify-content-center.align-items-center.p-5
                                                    h1.fa.fa-plus

                    div.collection-removed.d-none
                        div.collection-removed-info.text-center.mx-auto
                            i.fa.fa-info
                        h6.text-center This collection can't access it may removed or insufficient permission
                    div.loading-collection
                        center 
                            .lds-roller
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                .modal(tabindex='-1')#select-public-notes-modal.fade
                    .modal-dialog.modal-fullscreen
                        .modal-content
                            .modal-header
                                .div 
                                    h6.modal-title Add Public Notes                                   
                                .div 
                                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                form
                                    .container-fluid
                                        .row.public-notes-row-modal
                                        //- .col-md-2
                                        //-     .form-check.form-check-inline
                                        //-     .card.border-0.shadow.rounded
                                        //-         .card-header.bg-white.border-0
                                        //-             input#inlineCheckbox1.form-check-input(type='checkbox' value='option1')
                                        //-         img(src="/images/dummy/collection.png").card-img-top
                                        //-         .card-body.border-0
                                        //-             p.card-text Lorem ipsum dolor sit amet.
                                        //- .col-md-2
                                        //-     .form-check.form-check-inline
                                        //-     .card.border-0.shadow.rounded
                                        //-         .card-header.border-0.bg-white
                                        //-             input#inlineCheckbox1.form-check-input(type='checkbox' value='option1')
                                        //-         img(src="/images/dummy/collection.png").card-img-top
                                        //-         .card-body.border-0
                                        //-            p.card-text Lorem ipsum dolor sit amet.

                                .row.loading-public-notes
                                    center 
                                        .lds-roller
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                        p Your public notes are loading... please wait...    
                            .modal-footer
                                button.btn.btn-primary.collection-add-btn Add
            .modal.collections-context-menu
                .modal-dialog.modal-dialog-centered.modal-sm
                    .modal-content.border-0
                        .modal-header.border-0
                            .modal-title Options
                        .modal-body.border-0.px-0.py-1
                            .list-group.border-0.p-0
                                a.list-group-item.list-group-item-action.border-0(href='#')#delete-collections
                                    i.fa.fa-times.mx-1
                                    span Remove
                                a.list-group-item.list-group-item-action.border-0(href='#')#preview-collections 
                                    i.fa.fa-eye.mx-1
                                    span Preview 
        include ../../includes/dashjs
        script(src="/javascripts/dashboard/collections/collections-details.js")
