doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create new collections
        include ../../includes/bootstrap
        link(rel='stylesheet' href='/stylesheets/dashboard/dashboard.css')
        link(rel='stylesheet' href='/vendors/dropzone/dropzone.min.css')
        link(rel='stylesheet' href='/stylesheets/dashboard/upload-note.css')
    body
    include ../../includes/dashHeader
    .row
        include ../../includes/dashAside
        .col-10.p-2.content.shadow
           .container
                h3 Create new collections
                
                              


    script(src='/javascripts/common.js')
    script(src='/javascripts/dashboard/dashboard.js')
    script(src='/vendors/dropzone/dropzone.min.js')
    script(src='/javascripts/dashboard/upload-private-notes.js')