doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Collections
        include ../../includes/bootstrap
        link(rel='stylesheet' href='/stylesheets/dashboard/dashboard.css')
        link(rel='stylesheet' href='/stylesheets/dashboard/collections.css')
        link(rel="stylesheet" href="/stylesheets/loader.css")
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-10.second-side
                    .d-flex.justify-content-between
                        div
                            h2.header-title Private Notes
                            small.header-text These notes are not publically accessible and you will be get any rewards
                            br  
                            small.header-text This is your  private cloud you can store multiple types of file
                        div
                            a(href="/dashboard/collections/new")
                                button.btn-primary.add-new.btn-sm
                                    i.fa.fa-plus.m-1
                                    span New Collection
                    .no-collections
                        .card.border-0.p-0
                            .card-content.p-0
                                center
                                    img.card-img-top.w-25(src="/images/dashboard/collection_not_found.svg")
                                    .card-body
                                        h2 No Collections created Yet
                                        a(href="/dashboard/collections/new")
                                            button.btn.btn-primary Create New
                        .row.loading-collections
                            center 
                                .lds-roller
                                    div
                                    div
                                    div
                                    div
                                    div
                                    div
                                    div
                                    div
                                p.loading-colletion-text Your Collections are loading... please wait...
        script(src='/javascripts/common.js')
        script(src="/vendors/hammer/hammer.min.js") 
        script(src='/javascripts/dashboard/dashboard.js')
        script(src="/javascripts/dashboard/collections/my-collections.js")
