.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-1 {
    height: 300px !important;
}


.loader img {
    border-radius: 5px !important;
}

.loader-2 {
    height: 100px !important;
}


.loader-3 {
    height: 180px !important;
}

.first-row {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.first-row .coll {
    padding: 0;
    padding: 0px 2%;
}

.first-row .coll.first {
    width: 40%;
}

.first-row .coll.second {
    width: 60%;
}

.first-row .coll .loader {
    border-radius: 5px;
    background: #fff;
    /* background: linear-gradient(110deg, #ececec 8%, #f5f5f5 15%, #ececec 33%); */
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
}

.second-row {
    width: 90%;
    margin-top: 20px;
}

.second-row .coll {
    padding: 0px 0%;

}

.second-row .coll .loader {
    border-radius: 5px;
    background: #fff;
    /* background: linear-gradient(110deg, #ececec 8%, #f5f5f5 15%, #ececec 33%); */
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
}

.shine {
    animation: 1.5s shine linear infinite;
}

.button-row {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.button-row .coll {
    padding: 0px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.button-row .coll .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.loader-4 {
    height: 50px !important;
}

@media (max-width:769px) {
    .loader-4 {
        height: 70px !important;
    }
}

.button-row .coll .loader {
    border-radius: 5px;
    background: #fff;
    /* background: linear-gradient(110deg, #ececec 8%, #f5f5f5 15%, #ececec 33%); */
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
}





@media (max-width:769px) {
    .first-row {
        width: 100%;
    }

    .first-row {
        flex-direction: column;
    }

    .first-row .coll.first {
        width: 100% !important;

    }

    .first-row .coll.second {
        width: 100%;
        margin-top: 10px;
    }
}


@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}