doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Private Notes | Notes Ocean
        include ../../includes/dashcss
        style
            include ../../../public/stylesheets/dashboard/my-notes.css
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-md-10.second-side
                    .upload-header.d-flex.justify-content-between
                        div
                            h2.header-title Private Notes
                            small.header-text These notes are not publically accessible and you will be get any rewards
                            br  
                            small.header-text This is your  private cloud you can store multiple types of file
                        div
                            a(href="/dashboard/private-notes/new")
                                button.btn-primary.add-new
                                    i.fa.fa-cloud-upload.m-1
                                    span Upload
                    .search-container
                        form
                            .input-group
                                input(type="search" placeholder="Search private notes..." aria-label="Search  private notes").form-control
                                button.btn.btn-primary.btn-sm.search-btn(aria-label="Search") Search
                    .row.notes-container-row.mt-3
                    .container.no-private-notes.mt-4.d-none
                        center
                            img(src="/images/dashboard/collection_not_found.svg" width="20%")
                            .card-body
                                h5 No private notes uploaded Yet
                                a(href="/dashboard/private-notes/new")
                                    button.btn.btn-primary.btn-sm
                                        i.fa.fa-cloud-upload.mx-1
                                        span Upload New Notes
                    .loading-private-notes
                        center 
                            .lds-roller
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                            p.loading-notice Your private notes are loading... 
        section
            .modal#file-open-modal(tabindex='-1').fade.p-0
                .modal-dialog.modal-fullscreen.p-0
                    .modal-content.p-0
                        .modal-header.p-0.bg-dark.border-0
                            button(data-bs-dismiss='modal').btn.text-light
                                i.fa.fa-angle-left.mx-1
                                span Go Back
                            h6.text-light.private-notes-moda-title Note title
                            .btn-group
                                button.btn.btn-group-item.btn-sm.text-light.private-notes-delete-btn
                                    i.fa.fa-trash.mx-1
                                    span Delete
                                button.btn.btn-group-item.btn-sm.text-light.private-notes-download
                                    i.fa.fa-cloud-download.mx-1
                                    span Download
                                //- button.btn.btn-group-item.btn-sm.text-light.private-notes-rename-btn
                                    i.fa.fa-edit.mx-1
                                    span Rename

                        .modal-body.p-0.border-0
                            .card.h-100.w-100.p-0.border-0
                                .card-body.p-0.viewer


        include ../../includes/dashjs
        script
            include ../../../public/javascripts/dashboard/private-notes/private-notes.js