doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Private Notes | Notes Ocean
        include ../../includes/dashcss
        style
            include ../../../public/stylesheets/dashboard/my-notes.css
        style(src="/vendors/Dynamic-Right-Click-Context-Menu/dist/contextmenu.css")
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-md-10.second-side
                    .upload-header.d-flex.justify-content-between
                        div
                            h2.header-title Private Notes
                                span 
                                    small.text-muted
                                        |  ( 
                                        span.total-notes
                                        |  )
                            small.header-text Upload your personal documents, accessible only to you.
                            br  
                            small.header-text Store your documents here safely and securely.
                        div
                            a(href="/dashboard/private-notes/new")
                                button.btn-notesocean.add-new
                                    i.fa.fa-cloud-upload.m-1
                                    span Upload
                    .search-container
                        form
                            .input-group
                                input(type="search" placeholder="Search private notes..." aria-label="Search  private notes").form-control
                                button.btn.btn-notesocean.btn-sm.search-btn(aria-label="Search") Search
                    .row.notes-container-row.mt-3.private-notes
                    .container.no-private-notes.mt-4.d-none
                        center
                            img(src="/images/animation/sad.gif" width="20%")
                            .card-body
                                h5 I can't see any private notes!
                                a(href="/dashboard/private-notes/new")
                                    button.btn.btn-primary.btn-sm
                                        i.fa.fa-cloud-upload.mx-1
                                        span Upload private
                    .loading-private-notes
                        .row
                            .col-6.col-lg-2
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-6.col-lg-2
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-6.col-lg-2
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-6.col-lg-2
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-6.col-lg-2
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-6.col-lg-2
                                .skeleton-live-loader.loader
                                    .footer.shine

        section
            .modal#file-open-modal(tabindex='-1').fade.p-0
                .modal-dialog.modal-fullscreen.p-0
                    .modal-content.p-0
                        .modal-header.p-0.bg-dark.border-0
                            button(data-bs-dismiss='modal').btn.text-light
                                i.fa.fa-angle-left.mx-1
                                span Go Back
                            h6.text-light.private-notes-moda-title Note title
                            .btn-group
                                button.btn.btn-group-item.btn-sm.text-light.private-notes-delete-btn
                                    i.fa.fa-trash.mx-1
                                    span Delete
                                button.btn.btn-group-item.btn-sm.text-light.private-notes-download
                                    i.fa.fa-cloud-download.mx-1
                                    span Download
                                //- button.btn.btn-group-item.btn-sm.text-light.private-notes-rename-btn
                                    i.fa.fa-edit.mx-1
                                    span Rename

                        .modal-body.p-0.border-0
                            .card.h-100.w-100.p-0.border-0
                                .card-body.p-0.viewer
        #context-menu.modal.context-menu
            .modal-dialog
                .modal-content
                    .modal-header
                        .modal-title Action
                    .modal-body.border-0.px-0.py-1
                        .list-group.border-0.p-0
                            a.list-group-item.list-group-item-action.border-0(href='#')#delete-collections
                                i.fa.fa-trash.mx-1
                                span Delete 
                            a.list-group-item.list-group-item-action.border-0(href='#')#edit-collections
                                i.fa.fa-edit.mx-1
                                span Edit
        include ../../includes/dashjs
        script
            include ../../../public/javascripts/dashboard/private-notes/private-notes.js 