doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Private notes
        include ../../includes/bootstrap
        link(rel='stylesheet' href='/stylesheets/dashboard/dashboard.css')
        link(rel='stylesheet' href='/stylesheets/dashboard/my-notes.css')
        link(rel="stylesheet" href="/stylesheets/loader.css")
    body
    include ../../includes/dashHeader
    .row
        include ../../includes/dashAside
        .col-10.content
            .row.shadow.public-notes-details-container.d-none
                h2.m-2 Pivate Notes Details
                .form.w-50.p-2
                    .input-group
                        input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby='button-addon4')
                        #button-addon4.input-group-append
                            button.btn.btn-primary(type='button').rounded-0 Update
                            button.btn.btn-dark(type='button').rounded-0 Delete
                .container(style="height:80vh")
                    iframe(src="" frameborder="0" width="100%" ,height="100%") 

            .row.notes-removed.d-none
                .card.border-0
                    .card-content
                        center
                            img.card-img-top.w-50(src="/images/dashboard/collection_details_not_found.svg")  
                            .card-body
                                h6 The note you are looking for it may removed or insufficient permissions to access
            .row.loading-public-notes
                center
                    .lds-roller
                        div
                        div
                        div
                        div
                        div
                        div
                        div
                        div
                    p Your private notes details are loading... please wait...
            .modal#edit-public-notes-modal(tabindex='-1').fade
                .modal-dialog.modal-dialog-centered.modal-md
                    .modal-content.bg-white
                        .modal-header
                            h5 
                                span Edit 
                                span.public-notes-modal-title.text-danger classdssd

                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            p.text-warning *You can update only title and description*
                            form.form.form-responsive
                                .form-group
                                    label Title 
                                    input.note-title(type="text").form-control
                                    .invalid-feedback
                                        p.invalid-title-error invalid title
                                    .valid-feedback
                                        p looks good
                                .form-group 
                                    label Descriptions
                                    textarea.form-control.note-descriptions(style="height:15vh")
                                    .invalid-feedback
                                        p.invalid-descriptions-error invalid Description
                                    .valid-feedback
                                        p looks good
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                            button.btn.btn-primary(type='button') Save changes
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/vendors/sweetalert/sweetalert.min.js')
    script(src='/javascripts/dashboard/private-notes/private-notes-details.js')