<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- cdn -->

    <link rel="stylesheet" href="https://static.notesocean.com/vendor/bootstrap5/css/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/account/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- cdn  -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white mt-3">
            <div class="container">
                <a class="navbar-brand" href="/">Notesocean</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#">Faculities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Courses</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Earn money</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-7">
                <img src="/images/accounts/signup_bg.svg" loading="lazy" alt="signup background">
            </div>
            <div class="col-5">
                <h1>Login</h1>
                <p>Access dashboard,earning and many more </p>
                <div class="py-2">
                    <form class="input-icons">

                        <div class="form-group">
                            <i class="fa fa-envelope"></i>
                            <label for="Email" class="animate__animated animate__fadeInUp d-none">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" id="email"
                                autocomplete="username" required>
                        </div>


                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <label for="Password" class="animate__animated animate__fadeInUp d-none">
                                Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password"
                                id="password" autocomplete="new-password" required>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <div class="col-md-8">
                                    <p>Don't have an account? <a href="signup"> signup </a></p>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="row">
                                <div class="col-5">
                                    <h5>Or login with </h5>
                                </div>
                                <div class="col-2 ">
                                    <svg class="google-auth-btn" width="29" height="29" viewBox="0 0 29 29" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M26.3484 12.1335H25.3751V12.0833H14.5001V16.9167H21.329C20.3327 19.7303 17.6556 21.75 14.5001 21.75C10.4963 21.75 7.25008 18.5038 7.25008 14.5C7.25008 10.4962 10.4963 7.25 14.5001 7.25C16.3482 7.25 18.0296 7.94721 19.3099 9.08606L22.7276 5.66829C20.5695 3.65702 17.6828 2.41667 14.5001 2.41667C7.82706 2.41667 2.41675 7.82698 2.41675 14.5C2.41675 21.173 7.82706 26.5833 14.5001 26.5833C21.1731 26.5833 26.5834 21.173 26.5834 14.5C26.5834 13.6898 26.5 12.899 26.3484 12.1335Z"
                                            fill="#FFC107" />
                                        <path
                                            d="M3.80981 8.87581L7.77979 11.7873C8.854 9.12775 11.4555 7.25 14.4999 7.25C16.3481 7.25 18.0295 7.94721 19.3097 9.08606L22.7275 5.66829C20.5694 3.65702 17.6827 2.41667 14.4999 2.41667C9.85873 2.41667 5.83377 5.03694 3.80981 8.87581Z"
                                            fill="#FF3D00" />
                                        <path
                                            d="M14.5001 26.5833C17.6212 26.5833 20.4572 25.3889 22.6014 23.4465L18.8616 20.2819C17.6077 21.2355 16.0754 21.7512 14.5001 21.75C11.3572 21.75 8.68863 19.746 7.68329 16.9493L3.74292 19.9852C5.74271 23.8984 9.80392 26.5833 14.5001 26.5833Z"
                                            fill="#4CAF50" />
                                        <path
                                            d="M26.3483 12.1335H25.375V12.0833H14.5V16.9167H21.3289C20.8523 18.2557 19.9939 19.4259 18.8597 20.2825L18.8615 20.2813L22.6013 23.4459C22.3366 23.6864 26.5833 20.5417 26.5833 14.5C26.5833 13.6898 26.5 12.899 26.3483 12.1335Z"
                                            fill="#1976D2" />
                                    </svg>

                                </div>

                                <div class="col-2">
                                    <a href="#"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 12.067C0 18.033 4.333 22.994 10 24V15.333H7V12H10V9.333C10 6.333 11.933 4.667 14.667 4.667C15.533 4.667 16.467 4.8 17.333 4.933V8H15.8C14.333 8 14 8.733 14 9.667V12H17.2L16.667 15.333H14V24C19.667 22.994 24 18.034 24 12.067C24 5.43 18.6 0 12 0C5.4 0 0 5.43 0 12.067Z"
                                                fill="#699BF7" />
                                        </svg></a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-success text-light">
                    <strong class="me-auto">Bootstrap</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </section>

    <script src="https://static.notesocean.com/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://static.notesocean.com/vendor/bootstrap5/js/bootstrap.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/accounts/login.js"></script>
</body>

</html>