.profile-user-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.popover-header {
    background-color: yellow;
    color: #323232;
}

.edit-input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.pic-chnage-btn {
    cursor: pointer;
}