
.select2-container{
    display: block;
    width: 100% !important;
}

.select2-container::-webkit-scrollbar{
    display: none !important;
}
.profile-user-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.profile-user-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    /* padding: 10px; */

}

.popover-header {
    background-color: yellow;
    color: #323232;
}

.edit-input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.pic-chnage-btn {
    cursor: pointer;
}

.profile-container {
    width: 60%;
    margin: 0 auto;
}


section input, section select {
    border-radius: 0px !important;
    border: 1px solid #ccc;
    outline: none !important;
    box-shadow: none !important;
}

section input:hover,section input:focus, section input:active, section select:hover, section select:focus, section select:active {
    border: 1px solid #ccc !important;
    outline: none !important;
    box-shadow: none !important;
}
section button{
    border-radius: 0px !important;
}

@media (max-width:768px) {
    .profile-container {
        width: 100%;
        margin: 0 auto;
    }
}