link(rel='stylesheet' href='https://static.notesocean.com/vendor/bootstrap5/css/bootstrap.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
script(src='https://static.notesocean.com/vendor/jquery/jquery-3.6.0.min.js')
script(src='https://static.notesocean.com/vendor/bootstrap5/js/bootstrap.js')