//- preconnect and pre fetching
link(rel='dns-prefetch' href='https://fonts.googleapis.com')
link(rel='dns-prefetch' href='https://static.ncdn.in')
link(rel='dns-prefetch' href='https://thumbnails.ncdn.in')
link(rel='dns-prefetch' href='https://profile.ncdn.in')
link(rel='dns-prefetch' href='https://notes.ncdn.in')
link(rel='dns-prefetch' href='https://products.ncdn.in')
//-mobile optimized links
meta(name="mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="default")
link(rel='apple-touch-icon' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-60x60.png')
link(rel='apple-touch-icon' sizes='60x60' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-retina-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-retina-152x152.png')
//- libs css
link(rel='stylesheet' href='https://static.ncdn.in/vendor/bootstrap/bootstrap.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' )
link(rel="stylesheet" href="https://static.ncdn.in/vendor/noty/noty.css")
link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
//- libs js
script(src='https://static.ncdn.in/vendor/jquery/jquery.js' type="application/javascript")
script(src='https://static.ncdn.in/vendor/bootstrap/bootstrap.js' type="application/javascript" ) 
script(src="https://static.ncdn.in/vendor/noty/noty.min.js" type="application/javascript" )
script(src="https://static.ncdn.in/vendor/lozad/lozad.min.js" type="application/javascript" )
script(src="https://static.ncdn.in/vendor/wow/wow.min.js" type="application/javascript")
script(src="https://static.ncdn.in/vendor/crypto/crypto-js.min.js"  type="application/javascript")
//- icons
link(rel="shortcut icon" href="https://static.ncdn.in/public/icon-192x192.png")
link(rel='apple-touch-icon-precomposed' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-60x60.png')
link(rel='apple-touch-icon-precomposed' sizes='60x60' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-76x76.png')
link(rel='apple-touch-icon-precomposed' sizes='114x114' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-retina-120x120.png')
link(rel='apple-touch-icon-precomposed' sizes='144x144' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-retina-152x152.png')
script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Notes Ocean",
        "url": "https://notesocean.com",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://notesocean.com/search?query={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
script(type='application/ld+json').
    {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Notes ocean",
        "alternateName": "Airing Private Limited",
        "url": "https://notesocean.com",
        "logo": "https://notesocean.com/logo.png",
        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+918045685522",
            "contactType": "customer service",
            "contactOption": "HearingImpairedSupported",
            "areaServed": "IN",
            "availableLanguage": ["en","Hindi"]
        },{
            "@type": "ContactPoint",
            "telephone": "+918045685522",
            "contactType": "technical support",
            "contactOption": "HearingImpairedSupported",
            "areaServed": "IN",
            "availableLanguage": ["en","Hindi"]
        }],
            "sameAs": [
            "https://www.facebook.com/notesoceanofficial",
            "https://twitter.com/real_notesocean",
            "https://www.instagram.com/notesoceanofficial/",
            "https://www.linkedin.com/company/notesocean"
        ]
    }
 
link(rel="stylesheet", href="/stylesheets/app.css")
noscript
    h1 Javascript disabled!
    p Please enable javascript to use this website
    p Don't know how to enable it , please watch this video 
        a(href="https://youtu.be/8SAN4uVrjHo",rel="nofollow") click here
    style(type='text/css').
        h1{
            text-align:center;
            margin:20px 0px;
            color:red;
        }
        p{
            text-align:center;
        }
        a{
            color:blue !important;
        }
        header{
            display:none;
        }
        section{
            display:none;
        }
script(async src='https://www.googletagmanager.com/gtag/js?id=G-QCGYD0XM2C')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QCGYD0XM2C');
script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3834928493837917"
    crossorigin="anonymous")
script(src="/javascripts/app.js")
script.
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "dm0m0qv43m");
script.
    new WOW().init();

