include amplitude
//- common metas and links
meta(name="mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="default")
link(rel='apple-touch-icon' href='/touch-icons/apple-touch-icon-iphone-60x60.png')
link(rel='apple-touch-icon' sizes='60x60' href='/touch-icons/apple-touch-icon-ipad-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='/touch-icons/apple-touch-icon-iphone-retina-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='/touch-icons/apple-touch-icon-ipad-retina-152x152.png')

link(rel='stylesheet' href='https://static.ncdn.in/vendor/bootstrap/bootstrap.min.css')
link(rel='stylesheet' href='https://static.ncdn.in/vendor/animate.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel="shortcut icon" href="/icon-192x192.png")
script(src='https://static.ncdn.in/vendor/jquery/jquery-3.6.0.min.js')
script(src='https://static.ncdn.in/vendor/bootstrap/bootstrap.min.js')
script(src='https://static.ncdn.in/vendor/bootstrap/bootstrap.bundle.min.js')
link(rel="shortcut icon" href="/icon-192x192.png")


//-  preload

link(rel='apple-touch-icon-precomposed' href='/touch-icons/apple-touch-icon-iphone-60x60.png')
link(rel='apple-touch-icon-precomposed' sizes='60x60' href='/touch-icons/apple-touch-icon-ipad-76x76.png')
link(rel='apple-touch-icon-precomposed' sizes='114x114' href='/touch-icons/apple-touch-icon-iphone-retina-120x120.png')
link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/touch-icons/apple-touch-icon-ipad-retina-152x152.png')

link(rel='preload' href='https://static.ncdn.in/vendor/bootstrap/bootstrap.min.css' as="style")
link(rel='preload' href='https://static.ncdn.in/vendor/animate.css' as="style")
link(rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' as="style")
link(rel="preload" href="https://static.ncdn.in/vendor/jquery/jquery-3.6.0.min.js" as="script")
link(rel="preload" href="https://static.ncdn.in/vendor/bootstrap/bootstrap.min.js" as="script")
link(rel="preload" href="https://static.ncdn.in/vendor/bootstrap/bootstrap.min.js" as="script")
link(rel="preload" href="https://static.ncdn.in/vendor/bootstrap/bootstrap.bundle.min.js" as="script")