include amplitude
link(rel='stylesheet' href='/vendors/bootstrap/bootstrap.css')
link(rel='stylesheet' href='/stylesheets/animate.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
<link rel="shortcut icon" href="/icon-192x192.png">
script(src='/vendors/jquery/jquery.js')
script(src='/vendors/bootstrap/bootstrap.js')
script(src='/vendors/bootstrap/bootstrap.bundle.min.js')