//- preconnect and pre fetching
link(rel='dns-prefetch' href='https://static.ncdn.in')
link(rel='dns-prefetch' href='https://admedia.ncdn.in')
link(rel='dns-prefetch' href='https://product.ncdn.in')
link(rel='dns-prefetch' href='https://thumbnail.static.ncdn.in')
link(rel='dns-prefetch' href='https://fonts.googleapis.com')
link(rel='dns-prefetch' href='https://fonts.googleapis.com')
link(rel='dns-prefetch' href='https://api.amplitude.com')

//-mobile optimized links
meta(name="mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="default")
link(rel='apple-touch-icon' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-60x60.png')
link(rel='apple-touch-icon' sizes='60x60' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-retina-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-retina-152x152.png')


//- libs
link(rel='stylesheet' href='https://static.ncdn.in/vendor/bootstrap/bootstrap.min.css' media="all")
link(rel='stylesheet' href='https://static.ncdn.in/vendor/animate.css' media="all")
link(rel='stylesheet' href='/vendors/fontawesome-free-6.1.1-web/css/all.css' media="all")
link(rel="stylesheet" href="https://static.ncdn.in/vendor/noty/noty.css" media="all")

script(src='https://static.ncdn.in/vendor/jquery/jquery-3.6.0.min.js' type="application/javascript")
script(src='https://static.ncdn.in/vendor/bootstrap/bootstrap.js' type="application/javascript" ) 
script(src='https://static.ncdn.in/vendor/bootstrap/bootstrap.bundle.min.js' type="application/javascript" )
script(src="https://static.ncdn.in/vendor/noty/noty.min.js" type="application/javascript" )
script(src="https://static.ncdn.in/vendor/lozad/lozad.min.js" type="application/javascript" )
script(src="https://static.ncdn.in/vendor/wow/wow.min.js" type="application/javascript")

//- icons
link(rel="shortcut icon" href="https://static.ncdn.in/public/icon-192x192.png")
link(rel='apple-touch-icon-precomposed' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-60x60.png')
link(rel='apple-touch-icon-precomposed' sizes='60x60' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-76x76.png')
link(rel='apple-touch-icon-precomposed' sizes='114x114' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-iphone-retina-120x120.png')
link(rel='apple-touch-icon-precomposed' sizes='144x144' href='https://static.ncdn.in/public/touch-icons/apple-touch-icon-ipad-retina-152x152.png')

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Notes Ocean",
        "url": "https://notesocean.com",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://notesocean.com/search?query={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
script(type='application/ld+json').
    {
    "@context": "https://schema.org",
    "@type": "Corporation",
    "name": "Notes ocean",
    "alternateName": "Notes Ocean Private Limited",
    "url": "https://notesocean.com",
    "logo": "https://notesocean.com/logo.png",
    "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+918045685522",
    "contactType": "customer service",
    "contactOption": "HearingImpairedSupported",
    "areaServed": "IN",
    "availableLanguage": ["en","Hindi"]
    },{
    "@type": "ContactPoint",
    "telephone": "8045685522",
    "contactType": "technical support",
    "contactOption": "HearingImpairedSupported",
    "areaServed": "IN",
    "availableLanguage": ["en","Hindi"]
    }],
    "sameAs": [
    "https://www.facebook.com/notesoceanofficial",
    "https://twitter.com/real_notesocean",
    "https://www.instagram.com/notesoceanofficial/",
    "https://www.linkedin.com/company/notesocean"
    ]
    }
style.
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
include amplitude
style.
    h1,h2,h3,h4,h5,h6,p,span,a,li{
    font-family: 'Inter', sans-serif !important;
    }
    .javascript-blocked{
        display:none;
    }

noscript
    style(type='text/css').
        .live-notes-section{
            display:none;
        }
        .javascript-blocked{
            display:block;
        }
script.
    new WOW().init(); 



