aside.mt-5.border-0.col-2
  .card.p-0.border-0
    .card-content.p-0.px-3
      div
        button(route="/dashboard")
          span
            i.fa.fa-home
          span Dashboard
      div
        button(route="/dashboard/my-notes")
          span
            i.fa.fa-book
          span My Notes
      div
        button(route="/dashboard/public-notes")
          span
            i.fa.fa-user
          span Public Notes
      div
        button(route="/dashboard/collections")
          span
           i.fa.fa-database 
          span Collections
      div
        button(route="/dashboard/earning")
          span
            i.fa.fa-rupee
          span Earning