script(src="https://static.ncdn.in/vendor/hammer/hammer.min.js")
script(src='https://static.ncdn.in/vendor/sweetalert/sweetalert.min.js')
script
    include ../../public/javascripts/dashboard/dashboard.js
script
    include ../../public/javascripts/common.js
script(src="/vendors/noty/noty.min.js")
