include bootstrap
script(src="https://static.ncdn.in/vendor/hammer/hammer.min.js")
script
    include ../../public/javascripts/common.js
script
    include ../../public/javascripts/dashboard/dashboard.js
style
    include ../../public/stylesheets/dashboard/dashboard.css
style
    include ../../public/stylesheets/loader.css
link(rel='stylesheet' href='https://static.ncdn.in/vendor/animate.css')