include bootstrap
style
    include ../../public/stylesheets/dashboard/dashboard.css
style
    include ../../public/stylesheets/loader.css
link(rel='stylesheet' href='https://static.ncdn.in/vendor/animate.css')
