style
  include ../../public/stylesheets/dashboard/includes/header.min.css
nav.navbar.navbar-expand-lg
  .container-fluid.d-flex.justify-content-between
    a.navbar-brand(href='/')
      img(src='/images/dash-logo.svg' alt='notesocean-logo').logo
    a.nav-link(href="/dashboard/profile")
      img(src='/images/dummy/user_dummy.jpg' alt='user-pic').navbar-user-pic
