style
  include ../../public/stylesheets/dashboard/includes/aside.css
.dash-aside
  .card.p-0.border-0
    .card-content
      div
        button(route="/dashboard")
          span
            i.fa.fa-home
          span.item-text Dashboard
      div
        button(route="/dashboard/private-notes")
          span
            i.fa.fa-lock
          span.item-text Private Notes
      div
        button(route="/dashboard/public-notes")
          span
            i.fa.fa-user
          span.item-text Public Notes
      div
        button(route="/dashboard/collections")
          span
            i.fa.fa-database 
          span.item-text Collections
      div
        button(route="/dashboard/earning")
          span
            i.fa.fa-rupee
          span.item-text Earning