script
    include ../../public/vendors/sweetalert/sweetalert.min.js
script
    include ../../public/vendors/moment/moment.min.js
<script src="https://unpkg.com/vanilla-context-menu@1.4.1/dist/vanilla-context-menu.js"></script>
