include bootstrap
style
    include ../../public/stylesheets/dashboard/dashboard.min.css
style
    include ../../public/stylesheets/loader.min.css
style.
    .tomanyaction{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}@media(max-width:769px){.tomanyaction{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:90%;}}
