footer.footer.bg-dark.text-light
  .container-fluid.bottom_border.py-4
    .row
      .col-sm-4.col-md.col-sm-4.col-12.col
        h5.headin5_amrc.col_white_amrc.pt2 Find us
        // headin5_amrc
        div
          img(src='/images/logo.png',width='30px')
        p Notes Ocean finds perfect notes for you.
        p
          i.fa.fa-location-arrow
          |  Sonipat , Haryana , India
        p
          i.fa.fa-phone
          span  +91 8045685522
        p
          i.fa.fa.fa-envelope
          |  notesocean.official@gmail.com
      .col-sm-4.col-md.col-6.col
        h5.headin5_amrc.col_white_amrc.pt2 Information
        // headin5_amrc
        .footer_ul_amrc
          p
            a(href='/privacy-policies') Privacy Policies
          p
            a(href='/terms-and-condition') Terms & Conditions
          p
            a(href='/about-us') About Us
          p
            a(href='/contact-us') Contact Us
      .col-sm-4.col-md.col-6.col
        h5.headin5_amrc.col_white_amrc.pt2 Our Services
        // headin5_amrc
        p.footer_ul_amrc
          p
            a(href='/notes-sharing') Notes Sharing 
          p
            a(href='/earn-money') Earn Money 
          p
            a(href='/unlimited-notes-upoads') Unlimited  Uploads
