footer
  .item
    h5(style="color:#FB0100") Notes  
      span(style="color:#fff") Ocean
    ul.p-0.m-0.navbar-nav
      li.nav-link
        i.fa.fa-location-arrow.mx-1
        span Sonipat , Haryana , India
      li.nav-link
        i.fa.fa-phone
        span  For support   
        span 
          a(href="tel:+918210071758") +91 8210071758
      li.nav-link
        i.fa.fa.fa-envelope
        a(href="mailto:info@notesocean.com")  help@notesocean.com
      li.nav-link
        i.fa.fa.fa-envelope
        a(href="mailto:contact@notesocean.com")  contact@notesocean.com
  .item
    div
      h5 Information
      .footer_ul_amrc.navbar-nav
        ul.p-0.m-0
          li
            a.nav-link(href='/privacy-policies') Privacy Policies
          li
            a.nav-link(href='/terms-and-condition') Terms & Conditions
          li
            a.nav-link(href='/privacy-policies') Legal entity
          li
            a.nav-link(href='/privacy-policies') Copyright Policies
  .item
    div
      h5.headin5_amrc.col_white_amrc.pt2 Reach us
      // headin5_amrc
      .footer_ul_amrc.navbar-nav
        ul.p-0.m-0
          li
            a.nav-link(href='/about-us') About Us
          li
            a.nav-link(href='/contact-us') Contact Us
          li
            a.nav-link(href='/feedback') Feedback
          li
            a.nav-link(href='https://help.notesocean.com') Help Center
div.footer-credit.text-center.pt-4
  p Made with ❤️& India
  small.footer-credit-text Notes Ocean by 
    b 
      a(href="https://airing.in").text-light Airing
