footer.w-100
  .footer.bg-dark.text-light.mt-5
    .container-fluid.bottom_border.py-4
      .row
        .col-sm-4.col-md.col-sm-4.col-12.col.d-flex.justify-content-start
          div
            //- h5.headin5_amrc.col_white_amrc.pt2 Find us
            // headin5_amrc
            address
              //- img(src='https://static.ncdn.in/public/images/logo.png' width='30px')
              h5 
                span(style="color:#FB0100") Notes  
                span Ocean
              p
                i.fa.fa-location-arrow
                |  Sonipat , Haryana , India
              p
                i.fa.fa-phone
                span  For support   
                span 
                  a(href="tel:+918210071758") +91 8210071758
              p
                i.fa.fa.fa-envelope
                a(href="mailto:info@notesocean.com")  help@notesocean.com
              p
                i.fa.fa.fa-envelope
                a(href="mailto:contact@notesocean.com")  contact@notesocean.com
        .col-sm-4.col-md.col-6.col.d-flex.justify-content-center
          div
            h5.headin5_amrc.col_white_amrc.pt2 Information
            // headin5_amrc
            .footer_ul_amrc.navbar-nav
              li
                a.nav-link(href='/privacy-policies') Privacy Policies
              li
                a.nav-link(href='/terms-and-condition') Terms & Conditions
              li
                a.nav-link(href='/privacy-policies') Legal entity
              li
                a.nav-link(href='/privacy-policies') Copyright Policies
        .col-sm-4.col-md.col-6.col.d-flex.justify-content-center
          div
            h5.headin5_amrc.col_white_amrc.pt2 Reach us
            // headin5_amrc
            .footer_ul_amrc.navbar-nav


              li
                a.nav-link(href='/about-us') About Us

              li
                a.nav-link(href='/contact-us') Contact Us

              li
                a.nav-link(href='/feedback') Feedback
              li
                a.nav-link(href='https://help.notesocean.com') Help Center

