footer.footer.bg-dark.text-light.mt-5
  .container-fluid.bottom_border.py-4
    .row
      .col-sm-4.col-md.col-sm-4.col-12.col.d-flex.justify-content-center
        div
          h5.headin5_amrc.col_white_amrc.pt2 Find us
          // headin5_amrc
          address
            img(src='/images/logo.png',width='30px')
            p Notes Ocean LLP 
              span
                a(href='https://en.wikipedia.org/wiki/Limited_liability_partnership') (Limited liability partnership)
            p
              i.fa.fa-location-arrow
              |  Sonipat , Haryana , India
            p
              i.fa.fa-phone
              span  For support   
              span 
                a(href="tel:+918045685522") +91 8045685522
            p
              i.fa.fa.fa-envelope
              a(href="mailto:notesocean.official@gmail.com") notesocean.official@gmail.com
      .col-sm-4.col-md.col-6.col.d-flex.justify-content-center
        div
          h5.headin5_amrc.col_white_amrc.pt2 Information
          // headin5_amrc
          .footer_ul_amrc.navbar-nav
            li
              a.nav-link(href='/privacy-policies') Privacy Policies
            li
              a.nav-link(href='/terms-and-condition') Terms & Conditions
        
            li
              a.nav-link(href='/about-us') About Us
          
            li
              a.nav-link(href='/contact-us') Contact Us
          
            li
              a.nav-link(href='/feedback') Feedback
            li
              a.nav-link(href='https://help.notesocean.com') Help Center
      .col-sm-4.col-md.col-6.col.d-flex.justify-content-center
        div
          h5.headin5_amrc.col_white_amrc.pt2 Our Services
          // headin5_amrc
          p.footer_ul_amrc
            p
              a(href='/notes-sharing') Notes Sharing 
            p
              a(href='/earn-money') Earn Money 
            p
              a(href='/unlimited-notes-upoads') Unlimited  Uploads
