style
    include ../../public/stylesheets/style.css
nav
    div.d-flex.justify-content-between.align-items-center
        .logo-box
            a(href="/")
                //- img(src="/images/logo.png" width="40").mobile-logo
                img(src="https://static.ncdn.in/public/images/dash-logo.svg" width="100%" alt="notes ocean logo").desktop-logo.m-1.light-logo
                img(src="/images/dark-log.svg" width="100%" alt="notes ocean logo").desktop-logo.m-1.dark-logo
        .user-box.d-flex.justify-content-between
            div.upload-box
                a(href="/dashboard/public-notes/new").btn.btn-sm.btn-dark.text-light
                    i.fa.fa-cloud-upload(title="upload new notes").mx-1
                    span Upload Notes
            div.mobile-search-box
                i.fa.fa-search(title="Search notes").search-btn
                i.fa.fa-times(title="close").search-btn-close
            div.user-icon-box
                a(href="/dashboard")
                    img(src="https://static.ncdn.in/public/images/dummy-user.jpeg" alt="notes ocean user image")
