nav.navbar.navbar-expand-lg.navbar-light.bg-white.mt-3
    .container
      a.navbar-brand(href='/') Notesocean
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item
            a.nav-link(href='#') Notes
          li.nav-item
            a.nav-link(href='#') Faculities
          li.nav-item
            a.nav-link(href='#') Courses
          li.nav-item
            a.nav-link(href='#') Earn money
          li.nav-item
            a.nav-link(href='#') About us