style
  include ../../public//stylesheets/style.css
//- link(rel='stylesheet' href='/stylesheets/style.css')
nav
  .container-fluid.d-flex.justify-content-between.pt-2
    .logo-box
      a(href="/")
        //- img(src="/images/logo.png" width="40").mobile-logo
        img(src="/images/new-logo-180.png" width="80%").desktop-logo.m-1
    .search-box.w-50
      form(action="/search")
        .input-group
          input(type="search" placeholder="Ex- class 10th math notes" name="query").form-control
          button(type="submit").btn.btn-outline-secondary
            i.fa.fa-search
    .user-box.d-flex.justify-content-between
      div.upload-box.mx-3
        a(href="/dashboard/public-notes/new")
          i.fa.fa-cloud-upload(title="upload new notes")
      div.mobile-search-box.m-2
        a(href="/mobile-search")
          i.fa.fa-search(title="Search notes")
      div.user-icon-box
        a(href="/dashboard")
          img(src="/images/dummy-user.jpeg")
