style
  include ../../public/stylesheets/subpages/navbar.css
script
  include ../../public/javascripts/subpages/navbar.js
nav.desktop-navbar
  .desktop-navbar-container
    .desktop-navbar-item.brand
      a(href="/")
        img(src="https://static.ncdn.in/public/images/dash-logo.svg" alt="")
    .desktop-navbar-item.search
      form(method="GET" action="/search")
        .input-group
          input.form-control(type='text' placeholder="Search notes" aria-label="search" aria-describedby='search' name="query")
          span#basic-addon2.input-group-text 
            button(type="submit").btn.p-0
              i.fa.fa-search

    .desktop-navbar-item.navigation
      ul
        li
          a(href='/upload').btn.btn-outline-secondary.btn-grad-nav-upload
            i.fa.fa-cloud-upload
            span  Upload Notes
        li.d-none.login-navbar-item
          a(href='/login').btn.btn-outline-secondary.btn-grad-nav-login-dash
            i.fa.fa-user
            span    Login
        li.loading-nav-item
          a(href='#').btn.btn-outline-secondary
            i.fa.fa-spinner.fa-spin
        li.d-none.dashboard-nav-item
          a(href='/dashboard').btn.btn-outline-dark.btn-grad-nav-login-dash
            .desktop-navbar-profile-container
              img(src="")
              span.user-profile-name
nav.mobile-navbar