doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include ../includes/bootstrap
  link(rel='stylesheet' href='/stylesheets/dashboard/dashboard.css')
  title Dashboard
include ../includes/dashHeader  
.row   
  include ../includes/dashAside
  .col-10
     h3 Dashboard
     .container.mt-5
        .row.p-2
          .col-md-3
            .card.shadow.border-0
              .card-content.text-center.p-3
                h5
                  i.fa.fa-book.mx-2.text-danger
                  span.text-danger Total notes
                  p.text-bold.my-2 55
          .col-md-3
             .card.shadow.border-0
              .card-content.text-center.p-3
                h5
                  i.fa.fa-globe.mx-2.text-danger
                  span.text-danger Total Views
                  p.text-bold.my-2 55
          .col-md-3
            .card.shadow.border-0
              .card-content.text-center.p-3
                h5
                  i.fa.fa-thumbs-up.mx-2.text-danger
                  span.text-danger Total Likes
                  p.text-bold.my-2 55
          .col-md-3
            .card.shadow.border-0
              .card-content.text-center.p-3
                h5
                  i.fa.fa-rupee.mx-2.text-danger
                  span.text-danger Total Earnings
                  p.text-bold.my-2 1000

        .row
          .col-md-6
            h5.text-center.mt-3 Top Notes
            div#barchart_values.shadow
          .col-md-6
            h5.text-center.mt-3 Daily views progress 
            div#dailyViews.shadow
          .col-md-6.shadow
            h5.text-center.mt-5 Profile Strength
            p.text-center This chart show your profile strength based on your notes activities
            div#profile-strength.shadow

          
                  

          
          
          


      
script(src='/javascripts/common.js')
script(src='/javascripts/dashboard/dashboard.js')
script(src='https://www.gstatic.com/charts/loader.js')
script(src='/javascripts/dashboard/charts.js')

