doctype html
head
  meta(charset='UTF-8')
  meta(lang="En-US")
  meta(name="description" content="Access your personal dashboard, view the notes result , earning result  and many more")
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src="/javascripts/loader.js")
  include ../includes/dashcss
  title Dashboard | Notes Ocean
  body
    header
      include ../includes/dashHeader
    section 
      .row
        include ../includes/dashAside
        .col-md-10.second-side
          div.d-flex.justify-content-between.align-items-center
            h3 Dashboard
            a.btn.btn-notesocean.btn-sm#btn(href="dashboard/public-notes/new")
              i.fas.fa-cloud-arrow-up.mx-1
              span Upload
          div
            .row
              .col-lg-3.col-6
                a(href="dashboard/public-notes" style="text-decoration:none;color:inherit")
                  .border-0.pt-3.info-card
                    .text-center
                      h6
                        i.fa.fa-book.mx-2.text-danger
                        span.text-danger Notes
                        p.text-bold.my-2.total-notes-dash
                          i.fa.fa-spinner.fa-spin
              .col-lg-3.col-6
                a(href="dashboard/public-notes" style="text-decoration:none;color:inherit")
                  .border-0.pt-3.info-card
                    .text-center
                      h6
                        i.fa.fa-globe.mx-2.text-danger
                        span.text-danger Views
                        p.text-bold.my-2.total-views-dash
                          i.fa.fa-spinner.fa-spin
              .col-lg-3.col-6
                a(href="dashboard/public-notes" style="text-decoration:none;color:inherit")
                  .border-0.pt-3.info-card
                    .text-center
                      h6
                        i.fa.fa-thumbs-up.mx-2.text-danger
                        span.text-danger Likes
                        p.text-bold.my-2.total-likes-dash
                          i.fa.fa-spinner.fa-spin
              .col-lg-3.col-6
                a(href="dashboard/earning" style="text-decoration:none;color:inherit")
                  .border-0.pt-3.info-card
                    .text-center
                      h6
                        i.fa.fa-rupee.mx-2.text-danger
                        span.text-danger Earning
                        p.text-bold.my-2.total-earning-dash
                          i.fa.fa-spinner.fa-spin

            .row
              .col-md-6
                h6.text-center.mt-3 Top Notes
                div#barchart_values.shadow
                  .skeleton-live-loader.loader
                    .loading-message
                      p Chart is loading
                      p.dot-one  .
                      p.dot-two  .
                      p.dot-three  .
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
              .col-md-6
                h6.text-center.mt-3 Recent Notes
                #recentNotesChart.shadow
                  .skeleton-live-loader.loader
                    .loading-message
                      p Chart is loading
                      p.dot-one  .
                      p.dot-two  .
                      p.dot-three  .
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
              .col-md-6.d-none
                h5.text-center.mt-5 Merit
                p.text-center This chart show your merit based on your notes activities and reports
                #profile-strength.shadow
                  .skeleton-live-loader.loader
                    .loading-message
                      p Chart is loading
                      p.dot-one  .
                      p.dot-two  .
                      p.dot-three  .
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
                    .one.chartLine
                    .two.chartLine
                    .three.chartLine
                    .four.chartLine
    include ../includes/dashjs
    script
      include ../../public/javascripts/dashboard/dashboard.js
    script
      include ../../public/javascripts/dashboard/charts.js


