doctype html
head
  meta(charset='UTF-8')
  meta(lang="En-US")
  meta(name="description" content="Access your personal dashboard, view the notes result , earning result  and many more")
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include ../includes/dashcss
  title Dashboard | Notes Ocean
  body
    header
      include ../includes/dashHeader  
    section 
      .row
        include ../includes/dashAside
        .col-md-10.second-side
          h3 Dashboard
          div
            .row
              .col-lg-3.col-6
                .card.card-shadow.border-0.pt-3
                  .card-content.text-center
                    h5
                      i.fa.fa-book.mx-2.text-danger
                      span.text-danger Total notes
                      p.text-bold.my-2 00
              .col-lg-3.col-6
                .card.card-shadow.border-0.pt-3
                  .card-content.text-center
                    h5
                      i.fa.fa-globe.mx-2.text-danger
                      span.text-danger Total Views
                      p.text-bold.my-2 00
              .col-lg-3.col-6
                .card.card-shadow.border-0.pt-3
                  .card-content.text-center
                    h5
                      i.fa.fa-thumbs-up.mx-2.text-danger
                      span.text-danger Total Likes
                      p.text-bold.my-2  00
              .col-lg-3.col-6
                .card.card-shadow.border-0.pt-3
                  .card-content.text-center
                    h5
                      i.fa.fa-rupee.mx-2.text-danger
                      span.text-danger Total Earnings
                      p.text-bold.my-2 00

            .row
              .col-md-6
                h5.text-center.mt-3 Top Notes
                div#barchart_values.shadow
                  center(style="width:100%;height:200px;margin-top:40%")
                    .lds-roller
                      div
                      div
                      div
                      div
                      div
                      div
                      div
                      div
              .col-md-6
                h5.text-center.mt-3 Daily views progress 
                div#dailyViews.shadow
                  center(style="width:100%;height:200px;margin-top:40%")
                    .lds-roller
                      div
                      div
                      div
                      div
                      div
                      div
                      div
                      div
              .col-md-6
                h5.text-center.mt-5 Merit
                p.text-center This chart show your merit based on your notes activities and reports
                #profile-strength.shadow
                  center(style="width:100%;height:200px;margin-top:40%")
                    .lds-roller
                      div
                      div
                      div
                      div
                      div
                      div
                      div
                      div

    script(src="/javascripts/loader.js")
    include ../includes/dashjs
    script 
      include ../../public/javascripts/dashboard/charts.js


