doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Courses | Notes Ocean
        meta(name="description",content=`Find your notes by courses`)
        meta(name="keyword",content=`upsc,engineering,medical,management`)
        meta(property='og:title', content=`Notes Ocean`)
        meta(property='og:site_name' content='Notes Ocean')
        meta(property='og:description' content=`Find your notes by courses`)
        meta(property='og:type' content='website')
        meta(property='og:image' content=`https://notesocean.com/logo.png`)

        meta(name='twitter:card' content='website')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`Notes Ocean`)
        meta(name='twitter:description' content=`Find your notes by courses`)

        include ../includes/bootstrap
        style 
            include ../../public/stylesheets/courses/all-courses.css
    body 

        header
            include ../includes/navbar
        section.main-section
            section.categories.categories-courses.wow.animate__animated.animate__fadeInU
                .container.categories-item-cont
                    h2.text-danger Class 1 - 6
                    .row
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-1")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 1
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-2")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 2
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-3")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 3
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-4")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 4
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes  
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-5")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 5
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-6")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 6
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 

            section.categories.categories-courses.mt-5.wow.animate__animated.animate__fadeInU
                center
                    hr(style="width:60%")
                .container.categories-item-cont
                    h2.text-danger Class 7 - 12
                    .row
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-7")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 7
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-8")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 8
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-9")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 9
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-10")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 10
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes  
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-11")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 11
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/class-12")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Class 12
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes
            section.categories.categories-courses.mt-5.wow.animate__animated.animate__fadeInU
                center
                    hr(style="width:60%")
                .container.categories-item-cont
                    h2.text-danger Engineering
                    .row
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/computer-science-and-engineering")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Computer Science Engineering
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/aeronautical-engineering")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Aeronautical Engineering.
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Electrical-and-Electronics-Engineering")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Electrical and Electronics Engineering
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Biotech-Engineering")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Biotech Engineering
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes  
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Chemical-Engineering")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Chemical Engineering
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Aerospace-Engineer")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Aerospace Engineer
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes
            section.categories.categories-courses.mt-5.wow.animate__animated.animate__fadeInU
                center
                    hr(style="width:60%")
                .container.categories-item-cont
                    h2.text-danger Management
                    .row
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Bachelor-of-Business-Administration")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Bachelor of Business Administration- (BBA)
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Management-Studies")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Management Studies- (BMS)
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Bachelor of Commerce")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Bachelor of Commerce (B.COM)
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes 
                        .col-6.col-lg-4.mt-3
                            a(href="/courses/Master-of-Business-Administration")
                                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                    h4 Master of Business Administration (MBA) 
                                    p Lorem ipsum dolor sit amet.
                                    button.categories-btn.btn View Notes  



        include ../includes/footer
        script
            include ../../public/javascripts/common.js