doctype html
head
    meta(charset='UTF-8')
    meta(lang="En-US")
    meta(name="description" content="Access your personal dashboard, view the notes result , earning result  and many more")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include ../../includes/dashcss
    title Dashboard | Notes Ocean
    style
        include ../../../public/stylesheets/earning/my-earning.css
    body
        header
            include ../../includes/dashHeader  
        section 
            .row
                include ../../includes/dashAside
                .col-md-10.second-side
                    h5 Under Construction
                    .withdrawal.shadow.d-none
                        div.alert.alert-primary.rounded-0
                            strong Note: Every 12 PM your earning will be updated in your balance 
                            br
                            span.text-muted Earn &#x20B9; 0.50 for every 1 like
                            br
                            span.text-muted Earn &#x20B9; 0.40 for every 1 Views
                        .row.earning-row
                            .col-md-10.col-lg-10.col-xl-3
                                .card.border-0.p-2
                                    h4.animate-charcter 
                                        i.fa.fa-wallet.mx-1
                                        span Total Earning
                                    h5.animate-charcter.total-earning
                            .col-md-8.col-lg-10.col-xl-3
                                .card.border-0.p-2
                                    h4.animate-charcter 
                                        i.fa.fa-wallet.mx-1
                                        span Balance
                                    h5.avl-balance.animate-charcter 

                            .col-md-6.col-lg-4.col-xl-3.d-none
                                .card.shadow
                                    h4.animate-charcter 
                                        i.fa.fa-calendar-day.mx-1
                                        span Today
                                    h5 &#x20B9; 1005
                            .col-md-6.col-lg-4.col-xl-3.d-none
                                .card.shadow
                                    h4.animate-charcter 
                                        i.fa.fa-calendar.mx-1
                                        span This Month
                                    h5 &#x20B9; 1005
                        h3 Withdrawl Request
                        .withdrawl-cont.my-3.d-none
                            .item.m-1
                                label Name
                                input.form-control(type="text" placeholder="Name" name="name" required)
                            .item.m-1
                                label Mobile Number
                                input.form-control(type="number" placeholder="+91******" name="phone",required)
                            .itemm.m-1
                                label Email
                                input.form-control(type="email" placeholder="Email" name="email",required)
                            .item
                                button.btn.btn-danger.mt-4.withdrawl-btn Withdrwal
                        .withdral-notice.alert.d-none.rounded-0
                            p.text-muted Withdrawl box will be appear after you have &#x20B9; 50 or more in your account!
                        h3.withdrawal-history-text.d-none Withdrwal History
                        .row.withdrawal-history.d-none
        script
            include ../../../public/javascripts/dashboard/earnings/earning.js
        include ../../includes/dashjs


