doctype html
head
  meta(charset='UTF-8')
  meta(lang="En-US")
  meta(name="description" content="Access your personal dashboard, view the notes result , earning result  and many more")
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include ../../includes/dashcss
  title Dashboard | Notes Ocean
  style
    include ../../../public/stylesheets/earning/my-earning.css
  body
    header
      include ../../includes/dashHeader  
    section 
      .row
        include ../../includes/dashAside
        .col-md-10.second-side
          h3 Earning
          .row.earning-row
            .col-md-6.col-lg-4.col-xl-3
                .card.shadow
                    h4.animate-charcter 
                        i.fa.fa-wallet.mx-1
                        span Total
                    h6 &#x20B9; 1005
            .col-md-6.col-lg-4.col-xl-3
                .card.shadow
                    h4.animate-charcter 
                        i.fa.fa-wallet.mx-1
                        span Available
                    h6 &#x20B9; 1005
            .col-md-6.col-lg-4.col-xl-3
                .card.shadow
                    h4.animate-charcter 
                        i.fa.fa-calendar-day.mx-1
                        span Today
                    h6 &#x20B9; 1005
            .col-md-6.col-lg-4.col-xl-3
                .card.shadow
                    h4.animate-charcter 
                        i.fa.fa-calendar.mx-1
                        span This Month
                    h6 &#x20B9; 1005
          .row.withdrawal-history
            h3 Withdrwal History
            .col-md-6.col-lg-4.my-2
                .card.p-3.bg-white.border-0.shadow
                    div.widthrawal-info-cont
                        h6 HDFC BANK
                        p xxxxxx9090
                        p.text-danger  - &#x20B9; 100
                        p.text-success Success
                    p 10-06-2022
            .col-md-6.col-lg-4.my-2
                .card.p-3.bg-white.border-0.shadow
                    div.widthrawal-info-cont
                        h6 HDFC BANK
                        p xxxxxx9090
                        p.text-danger  - &#x20B9; 100
                        p.text-success Success
                    p 10-06-2022
            .col-md-6.col-lg-4.my-2
                .card.p-3.bg-white.border-0.shadow
                    div.widthrawal-info-cont
                        h6 HDFC BANK
                        p xxxxxx9090
                        p.text-danger  - &#x20B9; 100
                        p.text-success Success
                    p 10-06-2022
          .bank-accounts-cont
            .heading
                h3 Bank Accounts 
                button.btn.btn-primary.btn-sm.mx-2 Add Bank
            .row
                .col-md-4.my-2
                    .card.shadow.border-0.p-3
                        div.d-flex.justify-content-between
                            h6 Bank name 
                            h6.text-danger HDFC
                        div.d-flex.justify-content-between
                            h6 Account Holder
                            h6.text-danger Sachin Kumar
                        div.d-flex.justify-content-between
                            h6 Account Number
                            h6.text-danger xxxxxx0090
                        div.d-flex.justify-content-between
                            h6 IFSC Code
                            h6.text-danger HDFC000989
                .col-md-4.my-2
                    .card.shadow.border-0.p-3
                        div.d-flex.justify-content-between
                            h6 Bank name 
                            h6.text-danger State Bank Of India 
                        div.d-flex.justify-content-between
                            h6 Account Holder
                            h6.text-danger Sachin Kumar
                        div.d-flex.justify-content-between
                            h6 Account Number
                            h6.text-danger xxxxxx0090
                        div.d-flex.justify-content-between
                            h6 IFSC Code
                            h6.text-danger SBIN000989
          .withdrawal.mt-4.shadow
            h3 Withdrawl
            .withdrawl-cont
                .item
                    label Slect Bank
                    select.form-control
                        option(value="sbi") State bank of india
                         option(value="sbi") HDFC Bank
                .item
                    label Enter Amount (
                        span.text-danger &#x20B9;100 Available
                        span )
                    input.form-control(type="number",placeholder="100")
                .item
                    button.btn.btn-danger.mt-4 Withdrwal
    include ../../includes/dashjs


