.adsbygoogle {
    margin: 0 auto !important;
}

a {
    text-decoration: none;
}


@media (min-width:768px) {
    /* .public-notes-item:hover {

        transition: all 0.2s linear;
        transform: scale(1.10, 1.10);
    } */
}



.desktop-top-bannner {
    display: block;
}

.mobile-top-bannner {
    display: none;
}

@media (max-width:768px) {
    .desktop-top-bannner {
        display: none;
    }

    .mobile-top-bannner {
        display: block;
    }
}

.banner-search {
    background-image: url("https://static.ncdn.in/public/images/notebook.svg");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: none !important;
    border-radius: 2px 0px 0px 2px;
    width: 75%;
    background: #ffff;
    border-right: none;
    text-align: center;
}

form.example input[type=text]:focus {
    outline: none;
}

form.example button {
    width: 10%;
    padding: 5px;
    background: #ffff;
    color: red;
    font-size: 17px;
    border: none !important;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
}

form.example button:hover {
    background: red;
    color: #ffff;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.headings {
    text-align: center;
    color: whitesmoke;

}

.headings h1 {
    font-weight: bold;
    padding-top: 25px;
    color: white;
}

.public {
    color: red !important;
}

.headings {
    width: 50% !important;
}

/* page loading loader css */

.lds-roller div:after {
    background: black !important;
}

@media (max-width:769px) {
    .banner-search {
        padding: 1%;
        background-size: cover;
        height: 50vh !important;
        display: block;
        justify-content: top;
        align-items: top;

    }

    .headings h2 {
        font-size: 27px;
        text-align: center;
    }

    .headings p {
        font-size: 13px;
    }

    .headings {
        width: 100% !important;
    }

    form.example button {

        padding: 5px 0px;
    }

    form.example input[type=text] {

        width: 90%;

    }
}

/* categories design */
.color-red {
    color: #E52D27;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.categories .card {
    border-radius: 0px;


}



.categories .card:hover {
    background-position: right center;
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1.10, 1.10);
}

.one-bg {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.two-bg {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.three-bg {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}

.four-bg {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

.categories .card h6 {
    color: black;

    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #323232 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ani 2s linear infinite;
    display: inline-block;
}

.categories .card p {
    color: black !important;
    margin-top: 10px;
    font-size: 15px;


}



.categories-btn {
    background-image: linear-gradient(to right, #323232 0%, #323232 51%, #323232 100%);
    transition: 0.5s;
    background-size: 100% auto;
    color: white !important;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 12px;
}


.categories-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.categories-btn a {
    color: #fff !important;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes ani {
    to {
        background-position: 200% center;
    }
}

/* live notes css */

.notes-cont-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


.live-reading .card {
    border-radius: 0px;
}

.live-reading .card,
.live-reading .card-header,
.live-reading .card-footer {
    background-color: #fff;
    border-radius: 0px;
    border: none !important;
}

.live-reading .card-header {
    padding: 10px 10px;
}

.card img.card-img-top {
    width: 100%;
    height: 250px;
}

/* live notes loading skeleton */

.skeleton-live-loader .card {
    height: 100%;
    border-radius: 0px;
    background-color: inherit;

}

.skeleton-live-loader .card-header {
    height: 40px;
    width: 100%;
}

.skeleton-live-loader .card-body {
    height: 200px;
    border-radius: 0px !important;
    width: 100%;
}


.skeleton-live-loader .card-footer {
    border: none !important;
    padding: 0%;
}

.skeleton-live-loader .notes-profile-cont {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    float: left;
    margin: 10px 10px;
}

.user-name-cont {
    width: 90%;
    height: 40px;
    float: left;
    margin: 10px 10px;
}

.notes-cont-info {
    width: 100%;
    height: 25px;
    clear: both;
}




.skeleton-live-loader .notes-profile-cont,
.skeleton-live-loader .notes-cont-info,
.skeleton-live-loader .card-body,
.skeleton-live-loader .card-header,
.user-name-cont {
    margin: 5px auto;
    border: none !important;
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
}


@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

/* most views */

.most-viewd-notes .card,
.most-viewd-notes .card-header,
.most-viewd-notes .card-body,
.most-viewd-notes .card-footer {
    background-color: #ffff;
    border: none !important;
    border-radius: 0px;
}

/* recent notes */

.recent-notes .card,
.recent-notes .card-header,
.recent-notes .card-body,
.recent-notes .card-footer {
    background-color: #ffff;
    border: none !important;
    border-radius: 0px;
}

/* media queries */

@media (max-width: 768px) {
    /* homepage catogries item text = */

    .categories .card h6 {
        font-size: 12px;
    }

    .categories-item-cont {
        padding: 0% 0px !important;
    }

    .categories-item-cont .card {
        padding: 10px 5px !important;
    }

    .categories-item-cont h4 {
        font-size: 18px;
    }
}