.notes-thumbnails {
    height: 250px !important;
}

.public-notes-item:hover {

    transition: all 0.2s linear;
    transform: scale(1.10, 1.10);
}

.public-now-row .user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.public-now-row {
    padding: 0% 1%;
}