.notes-thumbnails {
    height: 250px !important;
    /* width: 350px !important; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.public-notes-item:hover {

    transition: all 0.2s linear;
    transform: scale(1.10, 1.10);
}

.public-now-row .user-image {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.public-now-row {
    padding: 0% 0%;
}

/* .card-footer,
.card-header {
    background: #FF5F6D;

    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);

    background: linear-gradient(to right, #FFC371, #FF5F6D);


} */



body {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.desktop-top-bannner {
    display: block;
}

.mobile-top-bannner {
    display: none;
}

@media (max-width:768px) {
    .desktop-top-bannner {
        display: none;
    }

    .mobile-top-bannner {
        display: block;
    }
}

.banner-search {
    background-image: url('../../images/notebook.svg');
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border:  none !important;
    border-radius: 2px 0px 0px 2px;
    float: left;
    width: 90%;
    background: #ffff;
    border-right: none;
    text-align: center;
}

form.example input[type=text]:focus {
    outline: none;
}

form.example button {
    float: left;
    width: 10%;
    padding: 5px;
    background: #ffff;
    color: red;
    font-size: 17px;
    border: none !important;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
}

form.example button:hover {
    background: red;
    color: #ffff;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.headings {
    text-align: center;
    color: whitesmoke;

}

.headings h1 {
    font-weight: bold;
    padding-top: 25px;
    color: white;
}

.public {
    color: red;
}

.headings {
    width: 50% !important;
}

@media (max-width:768px) {
    .banner-search {
        padding: 5%;
        background-size: cover;
        height: 40vh !important;
        margin-top: 15%;
        /* display: inline-block */
        display: block;
        justify-content: top;
        align-items: top;

    }

    .headings h2 {
        font-size: 27px;
        text-align: center;
    }

    .headings p {
        font-size: 13px;
    }

    .headings {
        width: 100% !important;
    }
    form.example button {

        padding: 5px 0px;
    }

}