/* desktop navbar css */
nav.desktop-navbar {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    padding-top: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.desktop-navbar-profile-container {
    border-radius: 50%;

}

.desktop-navbar-profile-container img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.desktop-navbar-container {
    display: flex;
    justify-content: space-between;
}

.desktop-navbar-item.brand {
    width: auto;
}

.desktop-navbar-item.search {
    width: 30%;
}

.desktop-navbar-item.navigation {
    width: 60%;
}

.desktop-navbar-item.navigation ul {
    display: flex;
    justify-content: end;
    list-style-type: none;

}

.desktop-navbar-item.navigation ul li {
    margin: 0px 10px;
}

.input-group-text {
    background-color: #fff;
    color: #FF0000;
}



.btn-grad-nav-login-dash {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
}

.btn-grad-nav-login-dash span {
    color: white;
}

.btn-grad-nav-login-dash:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad-nav-upload {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB 51%, #1F1C2C 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
}

.btn-grad-nav-upload span {
    color: white;
}

.btn-grad-nav-upload:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* mobile navbar css */

.mobile-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    z-index: 999;
    background-color: #fff;
    padding: 10px 10px;
}

.mobile-navbar i {
    font-size: 20px;
    cursor: pointer;
}

.mobile-menu-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999999;
    display: none;
    transition: ease-in 1s;
}

.menu-wrapper-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    z-index: 999;
    background-color: #fff;
    padding: 10px 10px;
    font-size: 20px;
}

.menu-wrapper-header i {
    cursor: pointer;
}

.menu-wrapper-navs {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-wrapper-navs ul {
    list-style: none;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

.menu-wrapper-navs ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menu-wrapper-navs ul li {
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
}

.mobile-nav-wrapper-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px #ccc;
    width: 100%;
    padding: 5% 0px;
}

.mobile-nav-wrapper-footer ul {
    list-style: none;
    padding: 0px;
}

.mobile-nav-wrapper-footer ul li {
    text-align: center;

}

.mobile-search-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999999;
    transition: ease-in 1s;
    display: none;
}

.mobile-search-wrapper-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    z-index: 999;
    background-color: #fff;
    padding: 10px 10px;
    font-size: 20px;
}

.mobile-search-wrapper form {
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* media queries */

.mobile-navbar input:focus,
.mobile-navbar input:hover,
.mobile-navbar input:active {
    box-shadow: none;
    outline: none;
}


@media (min-width: 769px) {
    nav.desktop-navbar {
        display: block;
    }


    nav.mobile-navbar {
        display: none;
    }
}

@media (max-width: 768px) {
    nav.desktop-navbar {
        display: none;
    }

    nav.mobile-navbar {
        display: flex;
    }
}

/* maine section margin */