.sdk-HeaderView-header {
    background: white !important;
}

.sdk-HeaderView-header {
    display: none !important;
}

iframe {
    width: 100% !important;
}


.content-box {
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.content-box .center {
    width: 70%;
}

.content-box .right,
.content-box .left {
    width: 12.5% !important;
}

.content-box i {
    margin: 0px 5px;
}

.content-box .card {
    border: none !important;
    box-shadow: 0px 0px 5px #ccc;
}

.info-bar {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0px 5px;
}

.card {
    border: none !important;
    box-shadow: none !important;
}

.shadow {
    box-shadow: none !important;
    border: none !important;
}




.main-section-top {
    width: 100% !important;
}

.product-title {
    cursor: pointer;
}

h1 {
    font-size: 20px;
    color: black;
}

h1.card-title {
    color: black !important;
}

.icon-item {
    cursor: pointer;
}



footer,
.footer-credit {
    float: left;
    width: 100%;
}

div#amzn-native-ad-0 {
    max-width: 100% !important;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.react-btn.active {
    color: crimson;
}

.notice-box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999 !important;
    background-color: white;
    transform: translate(-50%, -50%);
    color: black;
}

.commentbox-input {
    border-left: none !important;
    border-top: none !important;
}


.comment-add-btn:active,
.comment-add-btn:focus {
    background: #FF0000 !important;
    color: white !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #FF0000 !important;
    color: white !important;
}


.pdf-cont {
    height: 70vh;
}

.ads-box {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100% !important;
    height: 100% !important;
}

.info-bar a,
.realted-notes-container a {
    text-decoration: none;
    color: black;
}



.report-success-animation {
    width: 200px;
    height: 200px;
}


/* media queries */

@media (min-width: 769px) {
    .main-section-top {
        margin-top: 70px;
    }
}

@media (max-width:768px) {


    .content-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content-box .center {
        width: 100%;
    }

    .content-box .right,
    .content-box .left {
        display: none;
    }

    #commentbox {
        width: 100% !important;
    }

    #commentbox .card-body {
        padding: 0px !important;
    }

    .main-section-top .col-2 {
        display: none;
    }



    .info-row div {
        margin-top: 5px !important;
    }

    .react-btn {
        margin-left: 0px !important;
    }

    .main-section-top {
        margin-top: 60px;
        width: 99.9%;
        overflow: hidden;
    }




    .icon-group {
        justify-content: start !important;
    }

    .icon-item .icon-text {
        display: none !important;
    }

    .pdf-cont {
        height: 40vh;
    }

    .main-content-box {
        width: 100%;
        clear: both;
    }

    footer {
        clear: both;
        width: 100%;
    }
}