section {
    margin-top: 50px;
}

.sdk-HeaderView-header {
    background: white !important;
}

.sdk-HeaderView-header {
    display: none !important;
}

h1 {
    font-size: 20px;
}

.icon-item {
    cursor: pointer;
}

body {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#amzn-native-ad-0 {
    max-width: 100% !important;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.react-btn.active {
    color: crimson;
}

.notice-box {
    position: absolute;
    top: 80px;
    right: 5%;
    z-index: 9996546 !important;
    background-color: white;
}

.commentbox-input {
    border-left: none !important;
    border-top: none !important;
}

/* .comment-add-btn:hover,
.comment-add-btn:active,
.comment-add-btn:focus {
    background: #FF0000 !important;
    color: white !important;
} */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #FF0000 !important;
    color: white !important;
}


.pdf-cont {
    width: 100%;
    height: 70vh;
}

@media (max-width:768px) {
    .icon-group {
        justify-content: start !important;
    }

    .icon-item .icon-text {
        display: none !important;
    }

    .pdf-cont {
        width: 100%;
        height: 40vh;
    }
}