section {
    margin-top: 50px;
}

.sdk-HeaderView-header {
    background: white !important;
}

.sdk-HeaderView-header {
    display: none !important;
}

h1 {
    font-size: 20px;
}

.icon-item {
    cursor: pointer;
}

body {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#amzn-native-ad-0 {
    max-width: 100% !important;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}