.profile-image {
    border-radius: 50% !important;
}

section {
    margin-top: 70px;
}

.content-box {
    border-top: 1px solid #ccc;
}

.nav-pills .nav-link {
    border-radius: 3px !important;
    padding: 4px 30px !important;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

.nav-link .active {
    color: #fff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: red !important;
}


/* user notes css */

.notes-thumbnails {
    height: 250px !important;
}

.public-notes-item:hover {

    transition: all 0.2s linear;
    transform: scale(1.10, 1.10);
}

.public-now-row .user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.card,
.card-header,
.card-footer,
.modal-header,
.modal-body,
.modal-footer {
    background: #fff;
    color: black !important;
}

/* dark mode css */
@media (prefers-color-scheme: darkkkk) {

    .card,
    .card-header,
    .card-footer,
    .modal-header,
    .modal-body,
    .modal-footer {
        background: #232225;
        color: white !important;
        box-shadow: none !important;
    }

    .collection-row-item {
        background: #232225;
        color: white !important;
        border: 0.5px solid #ccc !important;
    }

    .collection-item-content-box {
        color: white !important;
    }

    .text-muted {
        color: white !important;
    }

    .nav-link {
        color: white !important;
    }
}

/* collection */


a {
    text-decoration: none;
    color: black;
}










.collection-items-thumbnails {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.collection-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item-content-box {
    display: flex;
    align-items: center;
    width: 80%;

}

.collections-rows {
    width: 70%;
}



@media(max-width:768px) {

    .collection-item-content {
        display: block;
    }


    .collection-item-content-box {
        display: block;
        width: 100%;

    }

    .collection-items-thumbnails {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

    a:hover {
        color: black;
    }


    .collections-rows {
        width: 100%;
    }


}