doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Find The Perfact Notes | Notes Ocean

    meta(name="description",content=`Notes ocean is educational media sharing platform where students and teacher's connects all over the world`)
    meta(name="keyword",content=`notes,notes ocean, free pdf notes , download pdf , upsc pdf , ssc pdf , free pdf download,sell pdf, engineering notes , medical notes, pharma notes, bihar board notes , cbse notes`)
    meta(property='og:title', content=`Notes Ocean`)
    meta(property='og:site_name' content='Notes Ocean')
    meta(property='og:url' content=`https://notesocean.com`)
    meta(property='og:description' content=`Notes ocean is educational media sharing platform where students and teacher's connects all over the world`)
    meta(property='og:type' content='website')
    meta(property='og:image' content=`https://notesocean.com/logo.png`)

    meta(name='twitter:card' content='website')
    meta(name='twitter:site' content='@real_notesocean')
    meta(name='twitter:title' content=`Notes Ocean`)
    meta(name='twitter:description' content=`Notes ocean is educational media sharing platform where students and teacher's connects all over the world`)

    include includes/bootstrap
    //- ads

    //- include includes/amplitude 
    style
      include ../public/stylesheets/subpages/index.css
    link(rel="stylesheet" href="https://static.ncdn.in/vendor/swiper/swiper-bundle.min.css" media="all")
    //- schema .org
  body
    header
      include ./includes/navbar
    section.banner-search.main-section
      .headings.text-center
        h1.animate__animated.animate__fadeInUp.my-4 Find the Perfect 
          span.public Notes
        p.animate__animated.animate__fadeInUp Notesocean is the best destination for students
          br
          span to find perfect notes for every subjects , chapters &amp; courses.
        br
        form.example.animate__animated.animate__fadeInUp(action='/search')
          input(type='text' placeholder='search your notes' name='query',required)
          button(type='submit')
            i.fa.fa-search
        .realted-searches.mt-2
          a(href="/search?query=engineering").text-danger.mx-3
            small Engineeering Notes
          a(href="/search?query=ncrt").text-danger.mx-3 
            small Management Notes
          a(href="/search?query=class+12th").text-danger.mx-3
            small Class 12th Notes
          a(href="/search?query=cbse").text-danger.mx-3
            small CBSE Notes
          a(href="/search?query=ncrt").text-danger.mx-3 
            small NCRT Notes
    section.live-reading.d-none
      .container.py-5
        h3 Live 
          span.color-red Reading
        small See which notes are reading students
          a(href="/live-reading").color-red  See All
        .row
          //- .col-6.col-lg-4.mt-3
          //-   a(href="#")
          //-     .card.shadow.border-0
          //-       .card-header Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, reprehenderit.
          //-       .card-body.p-0
          //-         img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
          //-       .card-footer
          //-         .notes-profile-cont
          //-           a(href="#")
          //-             img(src="https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com/112/1648464247150_112.jpg" alt="user image ").notes-cont-profile-pic
          //-             span.text-muted  Sachin Kumar 
          //-         .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
          //-           small
          //-             i.fa.fa-globe 
          //-             span  100 Views
          //-           small
          //-             i.fa.fa-file 
          //-             span  100 pages 
          //-           small
          //-             i.fa.fa-clock
          //-             span  100 Minutes ago
          //- .col-6.col-lg-4.mt-3
          //-   a(href="#")
          //-     .card.shadow.border-0
          //-       .card-header Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, reprehenderit.
          //-       .card-body.p-0
          //-         img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
          //-       .card-footer
          //-         .notes-profile-cont
          //-           a(href="#")
          //-             img(src="https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com/112/1648464247150_112.jpg" alt="user image ").notes-cont-profile-pic
          //-             span.text-muted  Sachin Kumar 
          //-         .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
          //-           small
          //-             i.fa.fa-globe 
          //-             span  100 Views
          //-           small
          //-             i.fa.fa-file 
          //-             span  100 pages 
          //-           small
          //-             i.fa.fa-clock
          //-             span  100 Minutes ago
          //- .col-6.col-lg-4.mt-3
          //-   a(href="#")
          //-     .card.shadow.border-0
          //-       .card-header Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, reprehenderit.
          //-       .card-body.p-0
          //-         img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
          //-       .card-footer
          //-         .notes-profile-cont
          //-           a(href="#")
          //-             img(src="https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com/112/1648464247150_112.jpg" alt="user image ").notes-cont-profile-pic
          //-             span.text-muted  Sachin Kumar 
          //-         .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
          //-           small
          //-             i.fa.fa-globe 
          //-             span  100 Views
          //-           small
          //-             i.fa.fa-file 
          //-             span  100 pages 
          //-           small
          //-             i.fa.fa-clock
          //-             span  100 Minutes ago
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info

    section.categories.categories-courses.wow.animate__animated.animate__fadeIn
      .container.py-5
        h3 Notes By 
          span.color-red Courses
        p Find your notes by your courses 
          a(href="/courses/all").color-red View all
        .container.categories-item-cont
          .row
            .col-6.col-lg-4.mt-3
              a(href="/courses/software-engineering")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Software
                  h4 Enginnering
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="#")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 UPSC & 
                  h4 BPSC
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="#")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 NCERT &
                  h4 CBSE
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="#")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Pharmacy 
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="#")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Nursing
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="#")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 LAW
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes
    section.categories.categories-subject.wow.animate__animated.animate__fadeIn
      .container.py-5
        h3 Notes By 
          span.color-red Subjects
        p Find your notes by your subjects 
          a(href="/subjects/all").color-red View all
        .container.categories-item-cont
          .row
            .col-6.col-lg-4.mt-3
              a(href="/subjects/mathematics")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Matematics
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="/subjects/english")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 English
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="/subjects/chemistry")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Chemistry
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="/subjects/biology")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Biology 
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="/subjects/physics")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Physics
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
            .col-6.col-lg-4.mt-3
              a(href="/subjects/geoghraphy")
                .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                  h4 Geoghraphy
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, illo.
                  br
                  button.categories-btn.btn View Notes 
    section.most-viewd-notes.wow.animate__animated.animate__fadeIn
      .container.py-5
        h3 Most Viewed 
          span.color-red Notes
        small Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque! 
          a(href="/notes/most-viewed").color-red View All
        .row
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
    section.recent-notes.wow.animate__animated.animate__fadeIn
      .container.py-5
        h3 Recent Uploaded  
          span.color-red Notes
        small Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque! 
          a(href="/notes/recent-uploaded").color-red View All
        .row
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
    section.javascript-blocked
      div.row.mt-4
        .col-md-5
          img(src="https://static.ncdn.in/public/images/illustrations/nojs.svg").w-100
        .col-md-7
          div.container
            h3.mt-2 Sorry, we can't load more content because 
              span.text-danger  Javascript disabled
            p For full functionality of this site it is necessary to enable JavaScript. 
            a(href="https://www.enablejavascript.io/" style="text-decoration:underline;color:blue") Here are the  instructions how to enable JavaScript in your web browser
            br
            br

            h4 Here some tutorial videos that can help you
            a(href="https://www.youtube.com/watch?v=c2whlEdtlUA" style="text-decoration:underline;color:blue") Enable javascript in chrome Android
            br
            a(href="https://www.youtube.com/watch?v=jxUU4YltU98" style="text-decoration:underline;color:blue") Enable javascript in chrome Windows


    include includes/footer
    script(src="/socket.io/socket.io.js")
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3834928493837917"
      crossorigin="anonymous")
    script
      include ../public/javascripts/common.js
    script
      include ../public/javascripts/subpages/index.js



