doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Find The Perfect Notes | Notes Ocean 

    meta(name="description",content=`Notes ocean is educational media sharing platform where students and teacher's connects all over the world`)
    meta(name="keyword",content=`notes,notes ocean, free pdf notes , download pdf , upsc pdf , ssc pdf , free pdf download,sell pdf, engineering notes , medical notes, pharma notes, bihar board notes , cbse notes`)
    meta(property='og:title', content=`Notes Ocean`)
    meta(property='og:site_name' content='Notes Ocean')
    meta(property='og:description' content=`Notes ocean is educational media sharing platform where students and teacher's connects all over the world`)
    meta(property='og:type' content='website')
    meta(property='og:image' content=`/touch-icons/apple-touch-icon.png`)

    meta(name='twitter:card' content='website')
    meta(name='twitter:site' content='@real_notesocean')
    meta(name='twitter:title' content=`Notes Ocean`)
    meta(name='twitter:description' content=`Notes ocean is educational media sharing platform where students and teacher's connects all over the world`)
    script(type="application/ld+json").
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Notes Ocean",
        "url": "https://notesocean.com",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://notesocean.com/search?query={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    script(type='application/ld+json').
      {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Notes ocean",
        "alternateName": "Airing Private Limited",
        "url": "https://notesocean.com",
        "logo": "https://notesocean.com/touch-icons/apple-touch-icon.png",
        "sameAs": [
          "https://www.facebook.com/notesoceanofficial",
          "https://twitter.com/real_notesocean",
          "https://www.instagram.com/notesoceanofficial/",
          "https://www.linkedin.com/company/notesocean"
        ]
      }

    include includes/bootstrap
    style
      include ../public/stylesheets/subpages/index.css
  body
    header
      include ./includes/navbar
    section.banner-search.main-section
      .headings.text-center
        h1.animate__animated.animate__fadeInUp.my-4 Find the Perfect 
          span.public Notes
        p.animate__animated.animate__fadeInUp Notesocean is the best destination for students
          br
          span to find perfect notes for every subjects , chapters &amp; courses.
        br
        div.form.search
          form.form.search(action='/search')
            input.input(type='text' placeholder='Search notes...' name='query',required)
            button(type='submit' style="background: transparent; border:none;")
              span.searchIcon
                i.fa.fa-search
        .realted-searches.mt-2.d-none
          a(href="/search?query=engineering").text-danger.mx-3
            small Engineeering Notes
          a(href="/search?query=ncrt").text-danger.mx-3 
            small Management Notes
          a(href="/search?query=class+12th").text-danger.mx-3
            small Class 12th Notes
          a(href="/search?query=cbse").text-danger.mx-3
            small CBSE Notes
          a(href="/search?query=ncrt").text-danger.mx-3 
            small NCRT Notes

    section
      div.category-selector
        p.category-heading
          a(href='/top-notes') Top Performing
        p.category-heading Recent Uploads 
        p.category-heading For you 
        p.category-heading Subjects 
        p.category-heading Courses 

    //- section.most-viewd-notes.wow
    //-   .container.py-5
    //-     h3 Top Performing Notes 
    //-       span.color-red Notes
    //-     small These are some of the most viewed 
    //-     //- small Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque! 
    //-     //-   a(href="/notes/most-viewed").color-red View All
    //-     .row
    //-       .col-md-6.col-lg-4.mt-3.skeleton-live-loader
    //-         a(href="#")
    //-           .card.border-0
    //-             .card-header
    //-               p 
    //-             .card-body.p-0

    //-             .card-footer
    //-               .notes-profile-cont
    //-               .user-name-cont
    //-               .notes-cont-info
    //-       .col-md-6.col-lg-4.mt-3.skeleton-live-loader
    //-         a(href="#")
    //-           .card.border-0
    //-             .card-header
    //-               p 
    //-             .card-body.p-0

    //-             .card-footer
    //-               .notes-profile-cont
    //-               .user-name-cont
    //-               .notes-cont-info
    //-       .col-md-6.col-lg-4.mt-3.skeleton-live-loader
    //-         a(href="#")
    //-           .card.border-0
    //-             .card-header
    //-               p 
    //-             .card-body.p-0

    //-             .card-footer
    //-               .notes-profile-cont
    //-               .user-name-cont
    //-               .notes-cont-info
    //-       .col-md-6.col-lg-4.mt-3.skeleton-live-loader
    //-         a(href="#")
    //-           .card.border-0
    //-             .card-header
    //-               p 
    //-             .card-body.p-0

    //-             .card-footer
    //-               .notes-profile-cont
    //-               .user-name-cont
    //-               .notes-cont-info
    //-       .col-md-6.col-lg-4.mt-3.skeleton-live-loader
    //-         a(href="#")
    //-           .card.border-0
    //-             .card-header
    //-               p 
    //-             .card-body.p-0

    //-             .card-footer
    //-               .notes-profile-cont
    //-               .user-name-cont
    //-               .notes-cont-info
    //-       .col-md-6.col-lg-4.mt-3.skeleton-live-loader
    //-         a(href="#")
    //-           .card.border-0
    //-             .card-header
    //-               p 
    //-             .card-body.p-0

    //-             .card-footer
    //-               .notes-profile-cont
    //-               .user-name-cont
    //-               .notes-cont-info
    section.recent-notes.wow
      .container.py-5
        h3 Recent Uploaded  
          span.color-red Notes
        small These are some of the recent notes uploaded by our users.
          //- a(href="/notes/recent-uploaded").color-red View All
        .row
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info
          .col-md-6.col-lg-4.mt-3.skeleton-live-loader
            a(href="#")
              .card.border-0
                .card-header
                  p 
                .card-body.p-0

                .card-footer
                  .notes-profile-cont
                  .user-name-cont
                  .notes-cont-info


    section.categories.categories-courses.wow.animate__animated.animate__fadeIn
      .container.py-5
        h3 Notes By 
          span.color-red Courses
        p Find your notes by your courses 
          a(href="/courses").color-red View all
        .container-fluid.categories-item-cont
          .row
            - let count = 0;
            -for(let i = 0;i<12;i++){
              - count++;
              - var item = courses[Math.floor(Math.random()*courses.length)];

                .col-6.col-lg-3.mt-3
                  a(href="/courses/"+url.make(item))
                    .card.shadow.border-0.text-center.h-100.d-flex.justify-content-center.align-items-center.w-100.h-100.py-5.px-1
                      h6 #{item}

            -}

    section.categories.categories-subject.wow
      .container.py-5
        h3 Notes By 
          span.color-red Subjects
        p Find your notes by your subjects 
          a(href="/subjects").color-red View all
        .container-fluid.categories-item-cont
          .row
            - let counter = 0;
            -for(let i = 0;i<12;i++){
              - counter++;
              - var item = subjects[Math.floor(Math.random()*subjects.length)];
                .col-6.col-lg-3.mt-3
                  a(href="/subjects/"+url.make(item))
                    .card.shadow.border-0.text-center.h-100.d-flex.justify-content-center.align-items-center.py-5.px-1
                      h6 #{item}
            -}

    section.javascript-blocked
      div.row.mt-4
        .col-md-5
          img(src="https://static.ncdn.in/public/images/illustrations/nojs.svg").w-100
        .col-md-7
          div.container
            h3.mt-2 Sorry, we can't load more content because 
              span.text-danger  Javascript disabled
            p For full functionality of this site it is necessary to enable JavaScript. 
            a(href="https://www.enablejavascript.io/" style="text-decoration:underline;color:blue") Here are the  instructions how to enable JavaScript in your web browser
            br
            br

            h4 Here some tutorial videos that can help you
            a(href="https://www.youtube.com/watch?v=c2whlEdtlUA" rel="nofollow" style="text-decoration:underline;color:blue") Enable javascript in chrome Android
            br
            a(href="https://www.youtube.com/watch?v=jxUU4YltU98" rel="nofollow" style="text-decoration:underline;color:blue") Enable javascript in chrome Windows
    include includes/footer
    script
      include ../public/javascripts/subpages/index.js