doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Not Found
        link(rel="manifest" href="/manifest.webmanifest")
        include includes/bootstrap
        style
            include ../public/stylesheets/subpages/notfound.css
    body 
        header
            include includes/navbar
        #notfound
            .notfound
                .notfound-404
                h1.d-flex.justify-content-center
                    span.m-3 4
                    img(src="/images/icons/sad.png" width="100px")
                    span.m-3 4
                h2 Oops! Page Not Be Found
                br
                p The page you are looking for might have been removed had its name changed or is temporarily unavailable.
                form(action='/search')
                    .input-group
                        input.form-control#input_box(type='text' name='query' placeholder='Search notes' required)
                        span.input-group-text.border-left-0.p-0
                            input.btn.btn-notesocean(type='submit' value='Search')
                div.mt-5
                    h6 If you are unable to find notes , you can request now
                    p your notes will be provide within 24 hours 
                    a(href='/request').text-danger
                        i.fa.fa-paper-plane
                            span.mx-1 Request Notes
        include includes/footer