doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Not Found
        link(rel="manifest" href="/manifest.webmanifest")
        include includes/bootstrap
        style
            include ../public/stylesheets/subpages/notfound.css
    body 
        header
            include includes/navbar
        #notfound
            .notfound
                .notfound-404
                h1.d-flex.justify-content-center
                    span.m-3 4
                    img(src="/images/icons/sad.png" width="100px")
                    span.m-3 4
                h2 Oops! Page Not Be Found
                br
                p The page you are looking for might have been removed had its name changed or is temporarily unavailable.
                form(action='/search')
                    input#input_box.form-control(type='text' name='query' placeholder='Class 12th math solutions',required)
                div.mt-3
                    h6 If you are unable to find notes , you can request notes
                    p your notes will be provide in 24 hours 
                    a.btn.btn-dark.text-light(href='/request/new') Request Notes
        include includes/footer