doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Search Query | Notes Ocean
        include includes/bootstrap
        style
            include ../public/stylesheets/subpages/search.css
    body 
        header
            include includes/navbar
        section
            .container
                h1.my-4 Your Serarch : Serarch query name
                a(href="/")
                    .d-flex.shadow.p-1.search-notes-item
                        .flex-shrink-0
                            img(src='https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png' alt='...').search-item-img
                        .flex-grow-1.ms-3.search-notes-item-details
                            h2 This is some content from a media component. You can replace this with any content and adjust it as needed.
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi praesentium nemo impedit modi dignissimos quis hic non iusto quae?
                            div.d-flex
                                p.ml-2
                                    i.fa.fa-globe.mx-1
                                    span 100 views
                                p.mx-2
                                    i.fa.fa-file.mx-1
                                    span 100 pages
                                p.mx-2
                                    i.fa.fa-clock-o.mx-1
                                    span 10 minute ago

                            .creator-box
                                a(href="/")
                                    .d-flex.align-items-center
                                        .flex-shrink-0
                                            img(src='/images/dummy-user.jpeg' alt='...').creator-img
                                        .flex-grow-1.ms-3
                                            h3 Sachin kumar
                a(href="/")
                    .d-flex.shadow.p-1.search-notes-item.my-3
                        .flex-shrink-0
                            img(src='https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png' alt='...').search-item-img
                        .flex-grow-1.ms-3.search-notes-item-details
                            h2 This is some content from a media component. You can replace this with any content and adjust it as needed.
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi praesentium nemo impedit modi dignissimos quis hic non iusto quae?
                            div.d-flex
                                p.ml-2
                                    i.fa.fa-globe.mx-1
                                    span 100 views
                                p.mx-2
                                    i.fa.fa-file.mx-1
                                    span 100 pages
                                p.mx-2
                                    i.fa.fa-clock-o.mx-1
                                    span 10 minute ago

                            .creator-box
                                a(href="/")
                                    .d-flex.align-items-center
                                        .flex-shrink-0
                                            img(src='/images/dummy-user.jpeg' alt='...').creator-img
                                        .flex-grow-1.ms-3
                                            h3 Sachin kumar
                a(href="/")
                    .d-flex.shadow.p-1.search-notes-item.my-3
                        .flex-shrink-0
                            img(src='https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png' alt='...').search-item-img
                        .flex-grow-1.ms-3.search-notes-item-details
                            h2 This is some content from a media component. You can replace this with any content and adjust it as needed.
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi praesentium nemo impedit modi dignissimos quis hic non iusto quae?
                            div.d-flex
                                p.ml-2
                                    i.fa.fa-globe.mx-1
                                    span 100 views
                                p.mx-2
                                    i.fa.fa-file.mx-1
                                    span 100 pages
                                p.mx-2
                                    i.fa.fa-clock-o.mx-1
                                    span 10 minute ago

                            .creator-box
                                a(href="/")
                                    .d-flex.align-items-center
                                        .flex-shrink-0
                                            img(src='/images/dummy-user.jpeg' alt='...').creator-img
                                        .flex-grow-1.ms-3
                                            h3 Sachin kumar
        include includes/footer
        script
            include ../public/javascripts/common.js
        script
            include ../public/javascripts/subpages/search.js

