doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 

        iframe(src="http://localhost:3000" frameborder="0" width="100%" height="1000px")
    script.
        const attackerInput = '<svg onload="alert(/cross-site-scripting/)" />';
        const el = document.createElement('div');
        if (typeof trustedTypes !== 'undefined') {
            // Create a policy that can create TrustedHTML values
            // after sanitizing the input strings with DOMPurify library.
            const sanitizer = trustedTypes.createPolicy('foo', {
                createHTML: (input) => DOMPurify.sanitize(input)
            });

            el.innerHTML = sanitizer.createHTML(attackerInput);  // Puts the sanitized value into the DOM.
            el.innerHTML = attackerInput;                        // Rejects a string value; throws a TypeError.
        }