.main-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .desktop-img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-section .desktop-img img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
    color: black;
}