section.main-section{
    margin-top:2% !important;
    /* width: 99%; */
}

/* @media screen and (min-width: 725) {
    .section-main-section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
} */

@media (max-width:725px){
    .main-section{
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
}




.social-login-btn a {
    text-decoration: none;
}

.main-section .desktop-img img {
    width: 100%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding:2.0rem 4.0rem 2.0rem 4.0rem;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:0.5px solid gray !important;
    border-radius: 0.3rem;
}



@media screen and (max-width: 768px) {
    .login-form-container {

        padding:2.0rem 1.0rem 2.0rem 1.0rem;
        border:0px !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
}
    


.google-sign-in-container{

}

.continue-with-google-btn{
    width: 100%;
    /* padding: 10px 0px 10px 4.8rem !important; */

    justify-content: center;

    padding: 10px 16px !important;

}

.continue-with-google-btn:hover{
   color:red;
   cursor: pointer;

}

.or-tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding-top:0.9rem;
}

.or-tag{
    font-size: 0.6rem;
    margin: 0 1.5rem;
}

.divider-line{
  height: 1px; 
  background-color: lightgray;
  border: none; 
  margin: 10px 0;  
  width: 40%;
}

.form-style{
    width:100% !important;
    border-radius:0.3rem !important ;
    border: 1px solid black !important;
}

.form-group{
    margin:20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn{
    width: 60%;
    border-radius: 0.3rem;
    background-color:  red;
    color: white !important;;
    font-weight: bold;
    border: none;
    height: 2.5rem;
    border:1px solid lightgray !important;
    /* font-size:1rem; */
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-btn:hover{
    color:rgb(227, 37, 37);
}


.continue-with-google-btn {
    display: inline-flex; 
    align-items: center; 
    padding: 10px 16px;
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #000; 
    text-decoration: none; 
  }
  
  .continue-with-google-btn:hover {
    background-color: #f9f9f9;
  }

  .login-text{
        font-size: 1.5rem;
        font-weight: 500;
        color:grey
  }

  .login-text:hover{
    color:red;
  }

  .log-in-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:2rem
    
  }

  .notes-ocean-logo{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .bottom-login-options{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.8rem;
  }
  
  .link:hover{
   color:red !important;
  }

  .sign-up-button{
    font-size: 0.9rem;
  }
 

  .form-group input {
    border: 1px solid lightgray !important; 

    outline: none;
    box-shadow: none;
    background-color: rgba(242, 241, 238, 0.6) !important;
    /* border-bottom: 1px solid #323232; */
    border-radius: 0.3rem;
    padding: 10px 10px 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
    color: black;
}