p {
    color: black !important;
}

.social-login-btn a {
    text-decoration: none;
}

.facebook-login-btn {
    color: black !important;
}

.google-login-btn {
    color: black !important;
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%)
}

.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.link {
    color: #4158D0 !important;

}


/* Using a string */
.form-group {
    margin: 40px 0;
}



.form-group input {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #323232;
    border-radius: 0;
    padding: 10px 40px;
}

.form-group label {
    margin: 0 30px;
}

.form-group i {
    position: absolute;
    font-size: 20px;
    margin: 10px !important;
}

.form-group #right {
    left: 84%;
}

.signup-form,
.login-form {
    width: 100%;
}

datalist#browsers:focus,
datalist#browsers:hover,
datalist#browsers:active {
    border-color: black !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-group select:focus,
.form-group input:focus,
.uneditable-input:focus {
    border-color: black !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

section .btn-primary {
    background-color: #FB0100;
    color: #fff !important;
    border: none;
}

section .btn-primary:hover {
    background-color: #FB0100 !important;
    color: #fff !important;
    border: none;
}

section .btn {
    background-color: #FB0100 !important;
}


.select2-container{
    display: block;
    width: 100% !important;
}
.select2-container--default .select2-selection--single{
    border: none !important;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #323232 !important;
    border-radius: 0 !important;
    width: 100% !important;
}

.signup-form .col-md-6{
    padding: 0px !important;
}

.desktop-img img {
    transform: scaleX(-1);
    width: 100%;
    height: auto;
}





@media(max-width:950px) {
    .desktop-img img {
        display: none;
    }

    form {
        width: 90% !important;
        margin: 0% auto;
    }

    .main-section {
        margin-top: 105px !important;
    }

   

}


@media (max-width:1000px) {
    .desktop-img img {
        display: none !important;
    }
}

.main-section {
    margin-top: 100px;
    width: 99%;
}


.main-section .row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto !important;
}


/* animation */

