section.main-section{
    margin-top:2% !important;
    /* width: 99%; */
}

/* @media screen and (min-width: 725) {
    .section-main-section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
} */

@media (max-width:725px){
    .main-section{
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
}


.google-sign-in-container{

}

.continue-with-google-btn{
    width: 100%;
    /* padding: 10px 0px 10px 4.8rem !important; */

    justify-content: center;

    padding: 10px 16px !important;

}

.continue-with-google-btn:hover{
   color:red;
   cursor: pointer;

}

.or-tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding-top:0.9rem;
}

.or-tag{
    font-size: 0.6rem;
    margin: 0 1.5rem;
    font-weight: 800;
}

.divider-line{
  height: 3px; 
  background-color: lightgray;
  border: none; 
  margin: 10px 0;  
  width: 40%;
}



.continue-with-google-btn {
    display: inline-flex; 
    align-items: center; 
    padding: 10px 16px;
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #000; 
    text-decoration: none; 
  }
  
  .continue-with-google-btn:hover {
    background-color: #f9f9f9;
  }


 

.sign-up-form-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding:2.0rem 4.0rem 2.0rem 4.0rem;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:0.5px solid gray !important;
    border-radius: 4px; 
}

.notes-ocean-logo{
    display: flex;
    justify-content: center;
    align-items: center;

  }



@media screen and (max-width: 768px) {

    .sign-up-form-container{

        padding:2.0rem 1.0rem 2.0rem 1.0rem;
        border:0px !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);

    }

}

.margin-between-input{
    margin-left:1.5rem !important;   
}



p {
    color: black !important;
}

.social-login-btn a {
    text-decoration: none;
}

.facebook-login-btn {
    color: black !important;
}

.google-login-btn {
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.google-login-btn:hover {
    transform: scale(1.1);
    transition: 1s;
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%)
}

.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.link {
    color: #4158D0 !important;

}

.signup-btn{
    width: 60%;
    border-radius: 0.3rem;
    background-color:  red;
    color: white !important;;
    font-weight: bold;
    border: none;
    height: 2.5rem;
    border:1px solid lightgray !important;
    /* font-size:1rem; */
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-btn:hover{
    color:rgb(227, 37, 37);
}


/* Using a string */
.form-group {
    margin: 20px 0;
}

.form-group-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-group input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: lightgray;
    /* border-bottom: 1px solid #323232; */
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
}

.form-group label {
    margin: 0 30px;
    /* padding: 10px 40px 10px 10px; */

}

.form-group i {
    position: absolute;
    font-size: 20px;
    margin: 10px !important;
}

.form-group #right {
    left: 84%;
}


select {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: lightgray;
    /* border-bottom: 1px solid #323232; */
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
}

.signup-form,
.login-form {
    width: 100%;
}


.sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem
    
}

.sign-up-text{
    font-size: 1.5rem;
    font-weight: 500;
    color:grey
}

.sign-up-text:hover{
color:red;
}

datalist#browsers:focus,
datalist#browsers:hover,
datalist#browsers:active {
    border-color: black !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-group select:focus,
.form-group input:focus,
.uneditable-input:focus {
    border-color: black !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

section .btn-primary {
    background-color: #FB0100;
    color: #fff !important;
    border: none;
}

section .btn-primary:hover {
    background-color: #FB0100 !important;
    color: #fff !important;
    border: none;
}

section .btn {
    background-color: #FB0100 !important;
}


.select2-container {
    display: block;
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border: none !important;
    outline: none;
    box-shadow: none;
    border-radius: 0 !important;
    width: 100% !important;
    background-color: lightgray !important;
    border-radius: 5px !important;
    height: 2.6rem !important;
    margin-top: 2px !important;


}

.signup-form .col-md-6 {
    padding: 0px !important;
}

.desktop-img img {
    transform: scaleX(-1);
    width: 100%;
    height: auto;
}





@media(max-width:950px) {
    .desktop-img img {
        display: none;
    }

    form {
        width: 90% !important;
        margin: 0% auto;
    }

    .main-section {
        margin-top: 105px !important;
    }



}


@media (max-width:1000px) {
    .desktop-img img {
        display: none !important;
    }
}

.main-section {
    margin-top: 100px;
    width: 99%;
}


.main-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto !important; */
}


/* animation */