doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Subjects | Notes Ocean
        meta(name="description",content=`Find your notes by courses`)
        meta(name="keyword",content=`upsc,engineering,medical,management`)
        meta(property='og:title', content=`Notes Ocean`)
        meta(property='og:site_name' content='Notes Ocean')
        meta(property='og:description' content=`Find your notes by courses`)
        meta(property='og:type' content='website')
        meta(property='og:image' content=`https://notesocean.com/logo.png`)

        meta(name='twitter:card' content='website')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`Notes Ocean`)
        meta(name='twitter:description' content=`Find your notes by courses`)

        include ../includes/bootstrap
        style 
            include ../../public/stylesheets/subjects/all-subjects.css
    body 

        header
            include ../includes/navbar
        section.main-section
            -for(let i = 0; i < subjects.length; i++){
                -let category = subjects[i].category;
                -let list = subjects[i].list;
                section.categories.categories-courses.wow.animate__animated.animate__fadeInU.my-3
                    .container.categories-item-cont
                        h2 #{category}
                        .row
                            - for(let j = 0;j<list.length;j++){
                                .col-6.col-lg-3.mt-3
                                    a(href="subjects/"+url.make(list[j]))
                                        .card.shadow.border-0.p-5.text-center.h-100.d-flex.justify-content-center.align-items-center
                                            p #{list[j]}
                            -}


            -}
        include ../includes/footer