.mobile-text {
    color: #989696b8;
    font-size: 15px
}

.form-control {
    margin-right: 12px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none
}

.cursor {
    cursor: pointer
}

input {
    width: 100% !important;
    height: 50px !important;
    border-radius: none !important;
    outline: none !important;
}

.card {
    text-align: center;
}

.verify-btn {
    width: 25% !important;
}


@media(max-width:768px) {

    input {
        width: 100% !important;
        height: 40px !important;
        border-radius: none !important;
        outline: none !important;
    }


    .verify-btn {
        width: 100% !important;
    }


}

@media(max-width:375px) {

    input {
        width: 100% !important;
        height: 30px !important;
        border-radius: none !important;
        outline: none !important;
    }

    .verify-btn {
        width: 100% !important;
    }


}