.mobile-logo {
    display: none;
}

.desktop-logo {
    display: block;
}


.mobile-search-box {
    display: none;
}

.dark-logo {
    display: none;
}

@media (max-width: 768px) {

    .desktop-logo {
        width: 70%;
    }

    .upload-box {
        display: none;
    }

    .search-box {
        display: none;
    }

    .search-box {
        width: 80% !important;
    }

    .mobile-search-box {
        display: block;
    }

    .realted-searches {
        display: none;
    }


}

.search-btn-close {
    display: none;
}

/* .upload-box {
    display: block;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.main-section {
    margin-top: 70px;
}

header ul {
    list-style: none;
}

header ul li a {
    text-transform: none;
    color: black !important;
}

header {
    padding: 0px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background-color: #FB0100;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}

.upload-box i {
    cursor: pointer;
}

.user-icon-box img {
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: black;
    box-shadow: none;
    outline: 0 none;
    background: inherit;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: none !important;
    outline: 0 none !important;
    background-color: FB0100 !important;
    color: white !important;
}



a {
    text-decoration: none;
    color: black;
}




.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: black !important;
}

.footer a {
    text-decoration: none;
    color: white !important;
}

header input,
header button {
    border: 1px solid black !important;
}