doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Report Notes | Notes ocean
        meta(name="description" content="If you found any copyright issue please report it here")
        include ../includes/bootstrap.pug
        style.
            .main-section{
                margin-top:100px;
            }
            form{
                width:80%;
                margin:0 auto;
            }
    body
        header
            include ../includes/navbar.pug
        section.main-section
            form
                h1 New Report
                p We are strictly against any kind of plagiarism. If you found any copyright issue please report it here.
                .row


                    .col-md-6
                        h6 Basic Infomation
                        .form-group.my-2
                            label First Name *
                            input.form-control(type="text" required,name="firstName")
                        .form-group.my-2
                            label Last Name *
                            input.form-control(type="text" required,name="lastName")
                        .form-group.my-2
                            label Email Address *
                            input.form-control(type="email" required ,name="email")
                        .form-group.my-2
                            label Phone Number *
                                small  ( with country code)
                            input.form-control(type="tel" required ,name="mobile")
                        .form-group.my-2
                            label Address *
                            textarea.form-control(required ,name="address")
                    .col-md-6.d-none
                        h6 Company Infomation
                        .form-group.my-2
                            label Company Name
                                small  (optional)
                            input.form-control(type="text")
                        .form-group.my-2
                            label Company Website
                                small  (optional)
                            input.form-control(type="url" )
                        .form-group.my-2
                            label Office Address
                                small  (optional)
                            textarea.form-control
                        .form-group.my-2
                            label Company Email 
                                small  (optional)
                            input.form-control(type="email")
                        .form-group.my-2
                            label Office Phone Number
                                small  (optional)
                            input.form-control(type="tel")
                        .form-group.my-2
                            label Company CIN
                                small  (optional)
                            input.form-control(type="text")
                    .col-md-6
                        h5 Legal Infomation
                        small.text-info Provide atleast one of the following infomation
                        .form-group.my-2
                            label ROC Number / Diary No  / Copyright Number
                                small  (only applicable for India and USA)
                            input.form-control(type="text" , placeholder="Enter ROC Number, Diary No or Copyright Number if any" name="copyrightNumber") 
                        .form-group.my-2
                            label Proof URL  
                            input.form-control(type="url" , placeholder="Enter a url that proves you own or you have the right to use the content" ,name="proofURL") 
                    .col-md-6
                        h5 Report Infomation
                        .form-group
                            b Content URL *
                            -if(id !== undefined){
                                input.form-control(placeholder="https://notesocean.com/notes/abc-123-zyx" type="url",required , readonly ,value=`https://notesocean.com/notes/`+id ,name="reportURL")
                            -}else{
                                input.form-control(placeholder="https://notesocean.com/notes/abc-123-zyx" type="url",required, name="reportURL")
                            -}
                        //- report description
                        .form-group
                            b Report Description *
                            textarea.form-control(rows="5" name="reportDescription" ,required)
                    .col-md-7
                        .form-group.mt-4
                            button(type="submit").btn-notesocean.dark.report-btn  Submit
        script
            include ../../public/javascripts/reports/new.report.js
        include ../includes/footer.pug

