doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Copyright Policy | Notes ocean
        meta(name="description" content="We are a platform that allows students and teachers to upload notes and share them with their friends.our payment system and distribution system is based on the principle of views per page")
        include ../includes/bootstrap.pug
        style.
            section{
                margin-top: 100px;
            }
    body
        header
            include ../includes/navbar.pug
        section.container
            h1.my-3 Copyright policy
            h5 Copyright Act 1957.
            p When work is not deemed to be published or performed in public. —Except in relation to infringement of copyright, a work shall not be deemed to be published or performed in public, if published, or performed in public, without the licence of the owner of the copyright.
            p We Notes Ocean don't allow any types of copied material that are available on the internet or in physical forms. 
            p All users are strictly prohibited to upload any copyrighted content in private notes or public notes
            p All users should follow the copyright policy , if any user uploads any copyrighted content then the user will be blocked from the platform.
            h5 Fair uses policy 
            p The doctrine of fair use is an exception to the law that usually protects any material that is considered copyrighted under the Indian Copyright Act, 1957. It is a very thin line between a legitimate and bona fide fair use of a work from a mala fide and a blatant copy of the work.
            h5 Report
            p If you find any content that is not fair use then please report to us at 
                a(href="/report") here 

    include ../includes/footer.pug


