doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Payout Policy | Notes ocean
        include ../includes/bootstrap.pug
        style.
            section{
                margin-top: 100px;
            }
    body 
        header
            include ../includes/navbar.pug
        section.container
            h1 Payout Policy
            p Last updated: August 31, 2022
    include ../includes/footer.pug
