doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Live Reading
        include ../includes/bootstrap
        style
            include ../../public/stylesheets/notes/live-reading.css
    body 
        header
            include ../includes/navbar
        section.live-reading.main-section
            .container-fluid
                h3 Live 
                .row.live-notes-row 
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info
                    .col-md-6.col-lg-4.col-xl-3.mt-3.skeleton-live-loader
                        a(href="#")
                            .card.border-0
                                .card-header
                                    p 
                                .card-body.p-0

                                .card-footer
                                    .notes-profile-cont
                                    .user-name-cont
                                    .notes-cont-info

        include ../includes/footer
        script(src="/socket.io/socket.io.js")
        script
            include ../../public/javascripts/common.js
        script
            include ../../public/javascripts/notes/live-notes.js