.main-section {
    margin-top: 80px;
}

section .card,
section .card-header,
section .card-footer {
    background-color: #fff;

    border: none !important;
}

section .card:hover {
    transform: scale3d(0.5);
}

section a {
    text-decoration: none;
    color: black;
}

section a:hover {
    color: black;
}

.user-name-cont {
    width: 90%;
    height: 40px;
    float: left;
    margin: 10px 10px;
}

.notes-cont-info {
    width: 100%;
    height: 25px;
    clear: both;
}

.card img.card-img-top {
    width: 100%;
    height: 250px;
}


.notes-cont-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}