doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Profile
        include ../../includes/bootstrap
        link(rel='stylesheet' href='/stylesheets/dashboard/dashboard.css')
        style
            include ../../../public/stylesheets/loader.css
        style
            include ../../../public/stylesheets/dashboard/profile/profile.css
        link(rel="stylesheet" href="/vendors/select/select2.min.css")
        script(src="/vendors/select/select2.min.js")
    body
        include ../../includes/dashHeader
        section.row
            include ../../includes/dashAside
            .col-9.second-side.pb-5
                .profile-container
                    //- h3 My profile
                    .div
                        .div
                            .row
                                .col-md-12
                                    div.profile-user-pic.d-flex.justify-content-center
                                        img(src="/images/dummy/user_dummy.jpg").user-profile-img
                                        .row.pic-uploading-roller.d-flex.justify-content-center.align-items-center.d-none
                                            .lds-roller
                                                div
                                                div
                                                div
                                                div
                                                div
                                                div
                                                div
                                                div
                                    div.d-flex.justify-content-center.py-2
                                        p.pic-chnage-btn change
                                h5 Personal Information
                                .col-md-6.mt-3

                                    .form-group 
                                        label First Name 
                                        input(type="text").form-control.first-name.input-item#firstName
                                        //- .valid-feedback
                                        //- .invalid-feedback
                                .col-md-6.mt-3
                                    .form-group 
                                        label Last Name 
                                        input(type="text").form-control.last-name.input-item#lastName
                                        //- .valid-feedback
                                        //- .invalid-feedback
                                .col-md-6.mt-3
                                    .form-group 
                                        label Email Address
                                        input(type="text",readonly).form-control.email.input-item#email
                                        .valid-feedback
                                        .invalid-feedback
                                .col-md-6.mt-3
                                    .form-group 
                                        label Mobile Number
                                        input(type="number").form-control.mobile.input-item#mobile
                                        .valid-feedback
                                        .invalid-feedback

                    .row.mt-5
                        h5 Address Information
                        .col-12.d-flex.justify-content-between


                        .col-12.mt-4.user-address
                            .row
                                .col-md-6.mt-3
                                    .form-group 
                                        label Address
                                        input(type="text").form-control.address.input-item#address

                                .col-md-6.mt-3
                                    .form-group 
                                        label Country
                                        select.form-control.country(name="country").input-item#country
                                            option(value="one",disabled,selected) choose...
                    .btn-box.d-flex.justify-content-between
                        button.btn.btn-sm.btn-notesocean.my-5.profile-update-btn
                            span Update
                        button.btn.btn-sm.logout-btn.my-5
                            i.fa.fa-power-off.mx-1
                            span Log Out

        section
            .position-fixed.top-0.end-0.p-3.mt-5.notice-box(style='z-index:9999')
        script 
            include ../../../public/javascripts/dashboard/profile/profile.js
