a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.collection-container {
    width: 99%;
    /* margin-left: 10px; */
}

::-webkit-scrollbar {
    width: 0px;
}



.colllection-notes-selector .card-header,
.colllection-notes-selector .card-footer,
.colllection-notes-selector .card-body {
    background-color: #ffff;
    border: #ffff;
}

.colllection-notes-selector .card-header {
    padding: 10px 10px;
    clear: both;
}

.plus h1 {
    font-size: 100px;
}

.colllection-notes-selector .card-header i {
    float: right;
    cursor: pointer;
}

.collection-removed,
.loading-collection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.collection-removed-info {
    border-radius: 50%;
    background-color: yellow;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-removed-info i {
    font-size: 30px;
    color: black;
}

input,
textarea,
.card,
section img,
button {
    border-radius: 0px !important;
}



@media (min-width:768px) {
    .colllection-notes-selector img {
        width: 250px;
        height: 250px;
    }
}

.collection-notes-thumbnail {
    height: 150px !important;
}

.collections-context-menu .list-group-item:hover {
    background-color: #FB0100;
    color: #fff;
}

.select-banner-img {
    width: 300px;
    height: 300px;
}

@media (max-width:768px) {
    .select-banner-img {
        width: 100%;
        height: 300px;
    }

    .colllection-notes-selector {
        flex-flow: wrap;
    }

    .colllection-notes-selector>div {
        width: 50%;
    }

    .collection-container {
        width: 100%;
        margin: 0 auto;
    }


}