.bg-danger {
    background-color: #FB0100 !important;
}

a {
    text-decoration: none;
    color: black;
}

.loading-collections,
.no-collections {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collections-context-menu .list-group-item:hover {
    background-color: #FB0100;
    color: #fff;
}

.search-container {
    width: 50%;
}

.search-container input {
    border-radius: 0px;
}

input,
textarea {
    border-radius: 0px !important;
}

input:focus,
input:active,
input:hover,
textarea:focus,
textarea:active,
textarea:hover {
    border-radius: 0px !important;
    outline: none !important;
    box-shadow: none !important;
}

.modal-content {
    border-radius: 2px !important;
    outline: none !important;
    background-clip: none !important;
}

.collection-items-thumbnails {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.collection-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item-content-box {
    display: flex;
    align-items: center;
    width: 70%;
    align-items: center;

}

.collections-rows {
    width: 50%;
}


.heading-container {
    width: 50%;
}

@media(max-width:768px) {
    .second-side .header-text {
        display: none;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
    }


    .collection-item-content {
        display: block;
    }


    .collection-item-content-box {
        display: block;
        width: 100%;

    }

    .collection-items-thumbnails {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

    a:hover {
        color: black;
    }


    .collections-rows {
        width: 100%;
    }

    .heading-container {
        width: 100%;
    }
}