doctype html 
html(lang='en')
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include ../includes/bootstrap
    style
        include ../../public/stylesheets/subpages/navbar.css
        //- meta(name="description",content=`View all the notes for  ${subject.replace(/-/g, ' ')}`)

    body
        header
            include ../includes/navbar.pug                                                                                              
        section.most-viewd-notes.wow
            .container.py-5
            h3 Top Performing  
                span.color-red Notes
            small These are some of the most viewed 
            //- small Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque! 
            //-   a(href="/notes/most-viewed").color-red View All
            .row
                .col-md-6.col-lg-4.mt-3.skeleton-live-loader
                a(href="#")
                    .card.border-0
                    .card-header
                        p 
                    .card-body.p-0

                    .card-footer
                        .notes-profile-cont
                        .user-name-cont
                        .notes-cont-info
                .col-md-6.col-lg-4.mt-3.skeleton-live-loader
                a(href="#")
                    .card.border-0
                    .card-header
                        p 
                    .card-body.p-0

                    .card-footer
                        .notes-profile-cont
                        .user-name-cont
                        .notes-cont-info
                .col-md-6.col-lg-4.mt-3.skeleton-live-loader
                a(href="#")
                    .card.border-0
                    .card-header
                        p 
                    .card-body.p-0

                    .card-footer
                        .notes-profile-cont
                        .user-name-cont
                        .notes-cont-info
                .col-md-6.col-lg-4.mt-3.skeleton-live-loader
                a(href="#")
                    .card.border-0
                    .card-header
                        p 
                    .card-body.p-0

                    .card-footer
                        .notes-profile-cont
                        .user-name-cont
                        .notes-cont-info
                .col-md-6.col-lg-4.mt-3.skeleton-live-loader
                a(href="#")
                    .card.border-0
                    .card-header
                        p 
                    .card-body.p-0

                    .card-footer
                        .notes-profile-cont
                        .user-name-cont
                        .notes-cont-info
                .col-md-6.col-lg-4.mt-3.skeleton-live-loader
                a(href="#")
                    .card.border-0
                    .card-header
                        p 
                    .card-body.p-0

                    .card-footer
                        .notes-profile-cont
                        .user-name-cont
                        .notes-cont-info