img[alt='user-pic'] {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

header i.fa-bell {
    font-size: 20px;
    margin: 10px;
    color: black;
}

.btn-primary {
    background-color: #FB0100;
    color: #fff;
    border: none;
}

.text-danger {
    color: #FB0100 !important
}

aside .card-content {
    padding: 20px;
}

aside button {
    background: #fff;
    border: none;
    border-radius: none;
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 5px;
    text-align: left;
}

aside i {
    margin: 10px 10px;
}

aside button.active {
    background: red;
    color: #fff;
}

aside button:focus {
    border: none;
}

aside button:active {
    border: none;
}

aside button:hover {
    border: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: black;
    box-shadow: none;
    outline: 0 none;
}


@media (max-width:769px) {
    ::-webkit-scrollbar {
        display: none !important;
    }

    header {
        position: fixed;
        left: 0;
        top: 0;
        box-shadow: 0px 0px 10px #ccc;
        width: 100%;
    }

    .item-text {
        display: none !important;
    }

    aside i {
        margin: 0px 0px !important;
    }

    .second-side {
        width: 100% !important;
        position: absolute;
        top: 10%;
        height: 80vh !important;
        z-index: -99 !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        padding-top: 50px;
        left: 0% !important;
        right: 0% !important;
        overflow: scroll;
        box-shadow: none !important;
    }

    aside {
        position: fixed;
        z-index: 999 !important;
        bottom: 0px !important;
        left: 0% !important;
        width: 100% !important;
        box-shadow: 0px 0px 10px #ccc;
        background-color: #fff;
    }

    aside .card-content {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    aside .card {
        width: 100% !important;
    }

    .navbar {
        margin: 0px !important;
    }

    .navbar .logo {
        width: 80%;
    }

    .navbar .user {
        width: 25px;
    }

    .second-side .container {
        width: 100% !important;
        /* padding: 0px !important; */
    }

    .second-side .container .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .second-side .container .card {
        box-shadow: none !important;
    }

    .second-side .container .card-content {
        box-shadow: none !important;
        padding: 0% !important;
    }



    .second-side h3 {
        margin: 10px;
    }

    #barchart_values {
        width: 100% !important;
        max-width: 100% !important;
        overflow: hidden !important;
        box-shadow: none !important;

    }

    #dailyViews {
        max-width: 100% !important;
        overflow: hidden !important;
        box-shadow: none !important;
        width: 100% !important;
    }

    #profile-strength {
        max-width: 100% !important;
        overflow: hidden !important;
        box-shadow: none !important;
    }
}