body {
    overflow-x: hidden !important;
    background-color: #fff !important;
}

.info-card {
    background: #FFFFFF !important;
    border-left: 4px solid #FF0606 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    padding: 10px;
}

/* .card-shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
} */

.second-side {
    border-left: 1px solid #FF0606 !important;
}

#barchart_values,
#dailyViews,
#profile-strength {
    border-radius: 5px !important;
}

@media (max-width:769px) {
    .info-card {
        margin-top: 10px;
    }

    #barchart_values {
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 5px !important;
        overflow: hidden !important;
    }

    #dailyViews {
        max-width: 100% !important;
        overflow: hidden !important;
        border-radius: 5px !important;
        width: 100% !important;
    }

    #profile-strength {
        max-width: 100% !important;
        overflow: hidden !important;
        border-radius: 5px !important;
        box-shadow: none !important;
    }
}

/*  */

.loader {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    /* animate show one by one element */
    animation: show 1s ease-in-out infinite;
}

/* create show animation */
@keyframes show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loader .chartLine {
    /* position: absolute; */
    background-color: #ddd;
    margin: 0px 10px;
    width: 8px;
    float: left;
    /* animation: show 1s ease-in-out infinite; */
}

.chartLine.one {
    height: 50%;
}

.chartLine.two {
    height: 50%;
}

.chartLine.three {
    height: 40%;
}

.chartLine.four {
    height: 70%;
}

.skeleton-live-loader {
    margin: 5px auto;
    border: none !important;
    background: #fff;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 15%, #ececec 33%);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
}


.shine {
    animation: 1.5s shine linear infinite;
}


@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}