.card-shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.second-side {
    border-left: 0.5px solid #ccc;
}

@media (max-width:769px) {
    .card-shadow {
        box-shadow: none !important
    }

    #barchart_values {
        width: 100% !important;
        max-width: 100% !important;
        overflow: hidden !important;
        box-shadow: none !important;

    }

    #dailyViews {
        max-width: 100% !important;
        overflow: hidden !important;
        box-shadow: none !important;
        width: 100% !important;
    }

    #profile-strength {
        max-width: 100% !important;
        overflow: hidden !important;
        box-shadow: none !important;
    }
}