.add-new {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 15px;
    float: right;
    margin: 0px 30px;
}

.public-notes-container .row:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: all .2s linear;
}