a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.viewer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 15px;
    float: right;
    margin: 0px 0px;
}

.public-notes-item:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: all .2s linear;
}

.notes-img {
    transition: all .2s linear;
}

.modal .modal-content,
.modal .modal-body,
.modal .modal-footer,
.modal .modal-header {
    border: none;
}

.modal input:focus,
.modal input:active,
.modal textarea:focus,
.modal textarea:active {
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}

.swal-button--danger {
    background: #FF0202 !important;
}

.swal-button {
    border-radius: 5px;
}

.swal-button:focus,
.swal-button:active,
.swal-button:hover {
    box-shadow: none;
    outline: none;
    border: none;
}


.notes-container-row .card:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: all .2s linear;
}


.search-container {
    width: 50%;
    margin-top: 10px;
}

.search-container input {
    border-radius: 0px !important;
}

#edit-public-notes-modal .modal-content {
    border-radius: 2px !important;
}


input,
textarea {
    border-radius: 2px !important;
}

.public-notes-details-thumbnails {
    width: 100%;
    height: 300px;
}

.no-public-notes,
.no-private-notes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-public-notes img,
.no-private-notes img {
    width: 200px;
}

.private-notes .card-footer {
    padding: 0px 10px;
}

@media (max-width:769px) {

    .search-container {
        width: 100% !important;
        padding: 0px 1%;
        margin-top: 0px;
    }

    .upload-header {
        padding: 5px 5px !important;
    }

    .upload-header .header-text {
        display: none;
    }



    .notes-container-row .card {
        box-shadow: none !important;
        border: 0.3px solid #ccc !important;
    }



    .card-title {
        font-size: 15px;
    }

    .header-title {
        font-size: 20px;
    }

    #file-open-modal {
        z-index: 9999 !important;
    }

    .loading-private-notes {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%);
    }

    .loading-notice {
        display: none;
    }

    .heading-title {
        font-size: 20px;
    }

    .heading-text {
        display: none;
    }
}

/* skelatton customization */

.loader .footer {
    width: 100%;
    height: 20%;
    background-color: #ddd;
    opacity: 0.5;
}

@media (max-width:769px) {
    .loading-private-notes {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px;
        top: 30% !important;
    }
}