.dropzone {
    height: 300px !important;
    border-radius: 5px !important;
    border: 1px solid #ccc;
}

input,
textarea,
.chip {
    /* border: 0 !important; */
    outline: 0 !important;
    box-shadow: none !important;
}

form {
    width: 50%;
}

/* test  */

.progress-bar-primary {
    background-color: #FF0000;
}

.btn:focus,
.btn:active {
    background-color: #FF0000;
}

.progress {
    display: none;
}

/* .swal-button {
    background-color: #FF0000 !important;
    outline: 0;
    border: none;
} */

.swal-button:focus,
.swal-button:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.swal-modal {
    box-shadow: none;
}

.is-invalid {
    border: 1px solid red;
}

.is-valid {
    border: 1px solid green;
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #323232;
    background-color: #cccc;
    border-color: #cccc;
}

@media (max-width:769px) {

    .public-notes-details-container {
        box-shadow: none !important;
    }

    form {
        width: 100%;
    }
}