@media (max-width:768px) {
    .content-box {
        padding: 20px !important;
    }

    .content-box p {
        display: none;
    }

    .uploader-box .dropzone {
        height: 50vh !important;
        border: 1px solid red !important;
    }


    .container {
        width: 100% !important;
    }


}

.container {
    width: 50%;
}

.dropzone {
    width: 100%;
    border: 3px solid red !important;
    height: 50vh !important;
    margin: 0 auto;
    border-radius: 5px;
}

.dropzone:hover {
    border: 3px solid black !important;
}

.dropzone:hover .fa-file {
    color: black !important;
}

.content {
    height: 95vh !important;
}

.close-notice {
    cursor: pointer;
}