@media (max-width:768px) {
    .content-box {
        padding: 20px !important;
    }

    .content-box p {
        display: none;
    }

    .uploader-box .dropzone {
        height: 50vh !important;
        border: 1px dotted red !important;
    }




}

.dropzone {
    border: 3px dotted red !important;
    height: 40vh !important;
}

.content {
    height: 95vh !important;
}

.close-notice {
    cursor: pointer;
}