@media (max-width:768px) {
    .content-box {
        padding: 20px !important;
    }

    .content-box p {
        display: none;
    }

    .uploader-box .dropzone {
        height: 50vh !important;
        border: 1px solid red !important;
    }


    .container {
        width: 100% !important;
    }


}

.container {
    width: 50%;
}

.dropzone {
    width:auto;
    height: auto !important;
    margin: 0 auto;
    padding: 0px;
    border: 0.5px dashed #ccc;
    min-height: 50px !important;
    margin-top: 5px;
}

.dropzone:hover .fa-file {
    color: black !important;
}

.content {
    height: 95vh !important;
}

.close-notice {
    cursor: pointer;
}

.upload-box-div{
    padding: 0px !important;
}