doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Public notes | Notes Ocean
        include ../../includes/dashcss
        style
            include ../../../public/stylesheets/dashboard/my-notes.min.css
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-md-10.second-side
                    .upload-header.d-flex.justify-content-between
                        div
                            h2.header-title Public Notes 
                                span 
                                    small.text-muted
                                        |  ( 
                                        span.total-notes
                                        |  )
                            small.header-text Upload your documents to share with world on NotesOcean platform.
                        div
                            a(href="/dashboard/public-notes/new")
                                button.btn-notesocean.add-new
                                    i.fa.fa-cloud-upload.m-1
                                    span Upload
                    .search-container
                        form
                            .input-group
                                input(type="search" placeholder="Search public notes..." aria-label="Search  public notes").form-control
                                button.btn.btn-primary.btn-sm.search-btn(aria-label="Search" type="submit") Search
                    .public-notes-container.mt-3.py-4.row 
                    .no-public-notes.d-none
                        .card.border-0
                            .card-content
                                img.card-img-top(src="/images/animation/sad.gif")
                                .card-body
                                    center
                                        h5 I can't see any notes here
                                        a(href="/dashboard/public-notes/new")
                                            button.btn.btn-notesocean.btn-sm
                                                i.fa.fa-cloud-upload.mx-1
                                                span Upload now
                    .loading-public-notes
                        .row
                            .col-md-3.col-lg-3
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-md-3.col-lg-3
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-md-3.col-lg-3
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-md-3.col-lg-3
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-md-3.col-lg-3
                                .skeleton-live-loader.loader
                                    .footer.shine
                            .col-md-3.col-lg-3
                                .skeleton-live-loader.loader
                                    .footer.shine
        include ../../includes/dashjs
        script
            include  ../../../public/javascripts/dashboard/public-notes/public-notes.js