doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Public notes | Notes Ocean
        include ../../includes/dashcommon
        style
            include ../../../public/stylesheets/dashboard/my-notes.css
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-md-10.second-side
                    .upload-header.d-flex.justify-content-between
                        div
                            h2.header-title Public Notes
                            small.header-text These notes are  publically accessible and you will be get any rewards
                        div
                            a(href="/dashboard/public-notes/new")
                                button.btn-primary.add-new
                                    i.fa.fa-cloud-upload.m-1
                                    span Upload
                    .search-container
                        form
                            .input-group
                                input(type="search" placeholder="Search public notes..." aria-label="Search  public notes").form-control
                                button.btn.btn-primary.btn-sm.search-btn(aria-label="Search" type="submit") Search
                    .public-notes-container.mt-3.py-4.row 
                    .no-public-notes.d-none
                        .card.border-0
                            .card-content
                                center
                                    img.card-img-top.w-25(src="/images/dashboard/collection_not_found.svg")
                                    .card-body
                                        h2 No Public notes uploaded Yet
                                        a(href="/dashboard/public-notes/new")
                                            button.btn.btn-primary 
                                                i.fa.fa-cloud-upload.mx-1
                                                span Upload New Notes
                    .loading-public-notes
                        center 
                            .lds-roller
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                                div
                            p.loading-notice Your public notes are loading... please wait...

        script
            include ../../../public/javascripts/dashboard/public-notes/public-notes.js