doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Public notes | Notes Ocean
        include ../../includes/dashcss
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js")
        style
            include ../../../public/stylesheets/dashboard/public-notes/public-notes-details.css
    body
        header
            include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-md-10.second-side
                    div.main-content
                        .first-row
                            .coll.first.p-0
                                .loader.loader-1.shadow
                                    img(src="" alt="" style="width:100%;height:100%").thumbnails
                            .coll.second
                                .loader.loader-1.shadow
                                    div#timeline-chaart.w-100.h-100

                        .button-row
                            .coll
                                .row
                                    .col-md-6.d-flex.justify-content-lg-start.justify-content-center.align-items-lg-start.align-items-center.flex-row
                                        .loader.loader-4
                                            button.btn.btn-notesocean.btn-sm(type="button").share-btn.w-100.h-100
                                                i.fa.fa-share.mx-1
                                                span share
                                        .loader.loader-4
                                            button.btn.btn-notesocean.btn-sm(type="button").w-100.h-100.Preview-btn
                                                i.fa.fa-eye.mx-1
                                                span Preview
                                        .loader.loader-4
                                            button.btn.btn-notesocean.btn-sm(type="button").w-100.h-100.public-notes-edit-btn
                                                i.fa.fa-edit.mx-1
                                                span Edit
                                        .loader.loader-4
                                            button.btn.btn-notesocean.btn-sm(type="button").w-100.h-100.delete-puublic-note
                                                i.fa.fa-trash.mx-1
                                                span Delete
                                    .col-md-6.d-flex.justify-content-lg-end.align-items-lg-end.justify-content-center.align-items-center.flex-row
                                        .loader.loader-4
                                            .card.w-100.h-100.shadow.text-center.p-1.border-0.d-flex.justify-content-center.align-items-center.flex-row
                                                i.fa.fa-thumbs-up.mx-1
                                                span.likes 0
                                        .loader.loader-4
                                            .card.w-100.h-100.shadow.text-center.p-1.border-0.d-flex.justify-content-center.align-items-center.flex-row
                                                i.fa.fa-thumbs-down.mx-1
                                                span.dislikes 0

                                        .loader.loader-4
                                            .card.w-100.h-100.shadow.text-center.p-1.border-0.d-flex.justify-content-center.align-items-center.flex-row
                                                i.fa.fa-globe.mx-1
                                                span.views 0
                                        .loader.loader-4
                                            .card.w-100.h-100.shadow.text-center.p-1.border-0.d-flex.justify-content-center.align-items-center.flex-row
                                                i.fa.fa-file.mx-1
                                                span.pages 0
                                        .loader.loader-4
                                            .card.w-100.h-100.shadow.text-center.p-1.border-0.d-flex.justify-content-center.align-items-center.flex-row
                                                i.fa.fa-database.mx-1
                                                span.size 0
                        .second-row
                            .coll
                                div.loader.loader-2
                                    h5.text-notesocean.title this is a notes title
                                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, saepe!
                        .second-row
                            .coll
                                div.loader.loader-3

                div.modal#edit-public-notes-modal
                    .modal-dialog.modal-xl
                        .modal-content.bg-white
                            .modal-header
                                h5 Edit this note                          
                            .modal-body
                                p.text-warning *You can update only title and descriptions*
                                form.form.form-responsive
                                    .form-group
                                        label Title 
                                        input.note-title(type="text").form-control
                                        .invalid-feedback
                                            p.invalid-title-error invalid title
                                        .valid-feedback
                                            p looks good
                                    .form-group 
                                        label Descriptions
                                        textarea.form-control.note-descriptions(style="height:15vh")
                                        .invalid-feedback
                                            p.invalid-descriptions-error invalid Description
                                        .valid-feedback
                                            p looks good
                            .modal-footer
                                button.btn.btn-dark(type='button' data-bs-dismiss='modal' aria-label='Close') Cancel
                                button.btn.btn-primary(type='button').public-notes-update-btn Update
                .share-modal.modal
                    .modal-dialog.modal-dialog-centered.modal-lg
                        .modal-content.border-0
                            .modal-header.bg-white.border-0
                                h5.text-center Share 
                                button.btn-close.btn-sm(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body.bg-white.border-0
                                .shareon.d-flex.justify-content-center
                                    a.facebook(data-url="" ,data-title="").share-item
                                    a.linkedin(data-url="" ,data-title="").share-item
                                    button.reddit(data-url="" data-title="").share-item
                                    button.telegram(data-url="" ,data-title="").share-item
                                    button.twitter(data-url="" ,data-title="").share-item
                                    button.whatsapp(data-url="" ,data-title="").share-item
        script(src="/vendors/sheron/shareon.iife.js")
        script(src="/javascripts/loader.js")
        include ../../includes/dashjs
        script
            include ../../../public/javascripts/dashboard/public-notes/public-notes-details.js
        script(src="https://static.ncdn.in/vendor/sweetalert/sweetalert.min.js")
