doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Upload Public Notes
        include ../../includes/dashcss
        link(rel="stylesheet" href="/vendors/dropzone/dropzone.min.css")
        style
            include ../../../public/stylesheets/dashboard/upload-public-notes.css
    body
        include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-10.p-2.content.second-side                       
                    div.container.d-flex.justify-content-center
                        form
                            h4 Upload public notes
                            div.border.p-2
                                h6.text-danger Your are uploading for the following request
                                small
                                    span.mx-1 Subject : 
                                    span.request-subject
                                br
                                small
                                    span.mx-1 Message : 
                                    span.request-message
                                br
                                small
                                    span.mx-1 Requester : 
                                    span.request-user
                            .form-group.my-3
                                label Title
                                    small.title-char-count
                                input(type="text" placeholder="",data-json=`{"very-long": "piece of ","data": true}`).form-control.note-title

                                .invalid-feedback
                                    p.invalid-title-error invalid title
                                .valid-feedback
                                    p looks good

                            .form-group.my-3
                                label Description
                                    small.desctiption-char-count
                                textarea.form-control(placeholder="" rows="5").note-descriptions
                                .invalid-feedback
                                    p.invalid-descriptions-error invalid Description
                                .valid-feedback
                                    p looks good
                            .form-group.mt-4
                                div(class="dropzone" id="file-upload") 
                                .invalid-feedback
                                    p.invalid-file-error Please select a file
                                .valid-feedback
                                    p looks good
                            .form-group.my-3
                                button.btn.btn-primary.mx-auto.upload-notes-btn Upload
                        div.request-error.text-center.d-none
                            h5.text-danger The request you are trying to upload notes for is not valid !
                            a.btn.btn-dark.text-light.mt-3(href='javascript:history.back()') Go back
        include ../../includes/dashjs
        script(src="/vendors/dropzone/dropzone.min.js")
        script 
            include ../../../public/javascripts/dashboard/public-notes/upload-public-notes.js