doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Upload Public Notes
        include ../../includes/dashcss
        link(rel="stylesheet" href="/vendors/dropzone/dropzone.min.css")
        style
            include ../../../public/stylesheets/dashboard/upload-public-notes.css
    body
        include ../../includes/dashHeader
        section.main-section
            .row
                include ../../includes/dashAside
                .col-10.p-2.content.shadow.second-side
                    div.my-3
                        h4 Upload Public Note
                    div
                        form
                            .form-group.my-3
                                label Note title
                                i.fa.fa-info-circle.text-dark.mx-1( data-bs-toggle='popover' data-bs-content='The title is the first chance to grab the attention of viewers  and maximum chance to gain more reach' data-bs-placement="top" data-bs-trigger="focus" tabindex="0")
                                input(type="text" placeholder="",data-json=`{"very-long": "piece of ","data": true}`).form-control.note-title
                                .invalid-feedback
                                    p.invalid-title-error invalid title
                                .valid-feedback
                                    p looks good
                            .form-group.my-3
                                label Description
                                i.fa.fa-info-circle.text-dark.mx-1( data-bs-toggle='popover' data-bs-content='Note descriptions enhance the viewers experience by making your note looks good and helps grab more attention' data-bs-placement="top" data-bs-trigger="focus" tabindex="0")
                                textarea.form-control(placeholder="" rows="5").note-descriptions
                                .invalid-feedback
                                    p.invalid-descriptions-error invalid Description
                                .valid-feedback
                                    p looks good
                            .form-group.mt-4
                                label(for="upload").text-danger  Please don't upload any books , if you dont't have the permissions 
                                    a(href="/terms-and-condition#books") read more
                                div(class="dropzone" id="file-upload") 
                                .invalid-feedback
                                    p.invalid-file-error Please select a file
                                .valid-feedback
                                    p looks good
                            .form-group.my-3
                                .progress.my-3
                                    .progress-bar.progress-bar-primary(role='progressbar' data-dz-uploadprogress='')
                                span.progress-text
                                button.btn.btn-primary.mx-auto.upload-notes-btn Upload
        include ../../includes/dashjs
        script(src="/vendors/dropzone/dropzone.min.js")
        script 
            include ../../../public/javascripts/dashboard/public-notes/upload-public-notes.js