doctype html
head
    meta(charset='utf-8')
    title About us - Notesocean
    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description' content='Notes Ocean is the best destination for students to find perfect notes for every subject and courses. We provide students with perfect study materials for their education, unlimited data storage, platform to earn money.')
    meta(name='keyword' content='basic computer notes for students,ms word notes pdf,note to pdf,lecture notes in,,mechanical engineering,engineering mechanics notes,lecture notes in electrical engineering,total quality management notes,basic electrical engineering notes,handwritten notes to text,highway engineering notes,made easy handwritten notes,irrigation engineering notes,business management notes,lacture notes,handwritten notes,pdf notes,engineering notes,management notes,notesocean, notes ocean,notes ocean bba notes')
    include ../includes/bootstrap
    link(rel="stylesheet" href="/stylesheets/subpages/about.css")
    body 
        header 
            include ../includes/navbar

        section.main-container
            .container.text-center
                h6.text-notesocean A little bit more about us!
                h1 Notes Ocean
                p Notes Ocean is notes sharing platform where teachers and students share educational media all over the world 
            .container.mt-5.mb-5
                .row
                    .col-md-5
                        img(src='/images/illustrations/vision.png' height='400' width='100%').illustrations-img
                    .col-md-7.about_section
                        h2 Our Mission
                        p Our mission is to support students mentally and financially. Since education is the light of life, we want everyone to learn and earn and build their career
                        ul
                            li
                            i.fa.fa-hand-o-right(aria-hidden='true')
                            |  To organize the world&apos;s information and make in universally accessible and useful.
                            li
                            i.fa.fa-hand-o-right(aria-hidden='true')
                            |  To make education easier.
                            li
                            i.fa.fa-hand-o-right(aria-hidden='true')
                            |  To support studens financially to get their education.
                            li
                            i.fa.fa-hand-o-right(aria-hidden='true')
                            |  To provide students finacially to get higher education to provide unlimited data storage to save their documents.
            .text-center
                h6 WHAT WE SERVE
                h3 Services We Provide
            .container
                .row.text-center
                    .col-md-4.mb-5
                        .service_item
                            .card.border-0.shadow.p-3.rounded
                                img.card-img-top(src='/images/illustrations/notes.svg' alt='SUBJECT WISE NOTES')
                                .card-body
                                    h5.card-title SUBJECT WISE NOTES
                                    p.card-text Subject and course wise perfect Notes, Questions, Casse Studies, Syllabus, etc.
                    .col-md-4.mb-5
                        .service_item
                            .card.border-0.shadow.p-1.rounded
                                img.card-img-top(src='/images/illustrations/wallet.svg' alt='EARN MONEY')
                                .card-body
                                    h5.card-title EARN MONEY
                                    p.card-text.earn Sharing notes with Notes Ocean and earn money for each views
                    .col-md-4.mb-5
                        .service_item
                            .card.border-0.shadow.p-1.rounded
                                img.card-img-top(src='/images/illustrations/done.svg' alt='NOTES ON DEMAND')
                                .card-body
                                    h5.card-title NOTES ON DEMAND
                                    p.card-text As us what you want ,Your demand notes will be available to you within 24 hours of your question asked.
            .vision
                .container
                    .row
                        .col-md-6.about_section.mt-100
                            h2 Our Vision
                            p
                            | There&apos;s always more information out there. Our vision is to empower students around the world to grow with knowledge and build their career with our suppport.
                        .col-md-6
                            img(src='/images/illustrations/vision2.png' height='350' width='100%').illustrations-img
            .team_section.mt-5
                .container
                    .text-center.mt-2.mb-5
                        h3 MEET OUR TEAM
                        p.mt-2
                            | We are all very different. We were born in different cities, nations and different times, we love different music, food, movies. But we have something that unites us all. It is our Goal. We are its heart. We are not just a team, we are a family.
                    .row.mb-3            
                        .col-md-4.mt-4  
                            .team.text-center.shadow.rounded
                                img.rounded-circle(src='/images/icons/male.jpg' alt='Team_1' height='230' width='220')
                                h5.m-2  Sachin Kumar 
                                p  
                                    i.fa.fa-briefcase.mx-1
                                    span Development 
                                p 
                                    i.fa.fa-location-arrow.mx-1
                                    span Bihar,India
                        .col-md-4.mt-4      
                            .team.text-center.shadow.rounded
                                img.rounded-circle(src='/images/people/akash.jpg' alt='Aakash Sharma' height='230' width='220')
                                h5.m-2  Aakash Sharma
                                p  
                                    i.fa.fa-briefcase.mx-1
                                    span Development 
                                p 
                                    i.fa.fa-location-arrow.mx-1
                                    span Haryana,India

                        .col-md-4.mt-4
                            .team.text-center.shadow.rounded
                                img.rounded-circle(src='/images/icons/male.jpg' alt='Sajib Biswas' height='230')
                                h5.m-2 Prashant Thakur
                                p  
                                    i.fa.fa-briefcase.mx-1
                                    span Development 
                                p 
                                    i.fa.fa-location-arrow.mx-1
                                    span Delhi,India
                        //- .col-md-4.mt-4
                        //-     .team.text-center.shadow.rounded
                        //-         img.rounded-circle(src='/images/icons/female.png' alt='Aakash Sharma' height='230' width='220')
                        //-         h5.m-2  Bindiya Kushwaha 
                        //-         p  
                        //-             i.fa.fa-briefcase.mx-1
                        //-             span Management 
                        //-         p 
                        //-             i.fa.fa-location-arrow.mx-1
                        //-             span Birgunj ,Nepal

                        //- .col-md-4.mt-4
                        //-     .team.text-center.shadow.rounded
                        //-         img.rounded-circle(src='/images/people/majeetakushwaha.jpeg' alt='Majeeta Kushwaha' height='230' width='220')
                        //-         h5.m-2  Majeeta Kushwaha
                        //-         p  
                        //-             i.fa.fa-briefcase.mx-1
                        //-             span Management 
                        //-         p 
                        //-             i.fa.fa-location-arrow.mx-1
                        //-             span Dhaka ,Bangladesh
            div.company-info.my-4.container.text-center.d-none
                h2 Corporate Information
                p 
                    strong Notes Ocean or its related domain and all activities is managed by Airing Private Limited.
                p Airing Private Limited is a private limited company incorporated under the Companies Act, 2013 with its registered office at Sonipat, Haryana,India.
                p Contact us at: Sonipat, Haryana,India 131001
                p Contact Email : contact@airing.in
                p Website: www.airing.in
            div
                h2.text-center.mt-3 Our Technology Partners
                .tech-partner
                    .item
                        img(src='/images/partner/aws.png' alt='aws')
                    .item
                        img(src='/images/partner/sendgrid.png' alt='send grid')
                    .item
                        img(src='/images/partner/twilio.png' alt='twilio')
                    .item
                        img(src='/images/partner/Razorpay.png' alt='Razorpay')
                    .item
                        img(src='/images/partner/zoho.png' alt='Zoho')
                    .item
                        img(src='/images/partner/datadoglogo.png' alt='DataDog')
        include ../includes/footer
