doctype html
head
    meta(charset='utf-8')
    title Contact us - Notesocean
    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description' content='Notes Ocean is the best destination for students to find perfect notes for every subject and courses. We provide students with perfect study materials for their education, unlimited data storage, platform to earn money.')
    meta(name='keyword' content='basic computer notes for students,ms word notes pdf,note to pdf,lecture notes in,,mechanical engineering,engineering mechanics notes,lecture notes in electrical engineering,total quality management notes,basic electrical engineering notes,handwritten notes to text,highway engineering notes,made easy handwritten notes,irrigation engineering notes,business management notes,lacture notes,handwritten notes,pdf notes,engineering notes,management notes,notesocean, notes ocean,notes ocean bba notes')
    link(rel="stylesheet" href="/stylesheets/subpages/contact.css")
    include ../includes/bootstrap
    body
        header 
            include ../includes/navbar
        section

            .container.text-center
                i.fa.fa-check-circle.text-success(style="font-size:150px")
                h5 Your request is subbmitted successfully, 
                p our executive will get back to you soon
                br
                a(href="/")
                    button.btn.btn-dark.btn-sm Explore More
        include ../includes/footer
        script
            include ../public/javascripts/common.js