doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description",content=`Read our privacy policy`)
        title Privacy and policies
        include ../includes/bootstrap
    body 
        header
            include ../includes/navbar
        section(style="margin-top:100px")
            .container
                div#about-us
                    h2 About Us
                    p Notes ocean . ("we," "our," or "us") is committed to protecting your privacy. This Privacy Policy explains how your personal information is collected, used, and disclosed by Notes ocean .This Privacy Policy applies to our website, www.notesocean.com , and its associated subdomains (collectively, our "Service"). By accessing or using our Service, you signify that you have read, understood, and agree to our collection, storage, use, and disclosure of your personal information as described in this Privacy Policy and our Terms of Service.
                div#cookies-policy.my-5
                    h2 Cookie Policy
                    p We use "Cookies" to identify the areas of our website that you have visited. A Cookie is a small piece of data stored on your computer or mobile device by your web browser. We use Cookies to personalize the Content that you see on our website. Most web browsers can be set to disable the use of Cookies. However, if you disable Cookies, you may not be able to access functionality on our website correctly or at all. We never place Personally Identifiable Information in Cookies.

                div#login-cookies-policy.my-5
                    h2 Login Cookie Policy
                    p When you log in to our website, we will set a "login cookie" on your computer or mobile device. This cookie will be used to identify you when you return to our website. This cookie will be deleted when you log out of our website.
                div#account-creation-policy.my-5
                    h2 Account Creation Policy
                    h5 What Information Do We Collect?
                    p We collect information from you when you create an account with us.
                    ul
                        li  First Name
                        li  Last Name
                        li  Email Address
                        li  Mailing Address
                        li  Country
                        li  Phone Number
                        li Password
                    h5 How Do We Use The Information We Collect?
                    p Any of the information we collect from you when you create an account with us.
                    ul 
                        li To personalize your experience (your information helps us to better respond to your individual needs)
                        li To improve our service (we continually strive to improve our service offerings based on the information and feedback we receive from you)
                        li To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)
                        li To process transactions
                        li To administer a contest, promotion, survey or other site feature
                        li To send periodic emails
                    h5 Do we share the information we collect with third parties?
                    p We may share the information that we collect, both personal and non-personal, with third parties such as advertisers, contest sponsors, promotional and marketing partners, and others who provide our content or whose products or services we think may interest you. We may also share it with our current and future affiliated companies and business partners, and if we are involved in a merger, asset sale or other business reorganization, we may also share or transfer your personal and non-personal information to our successors-in-interest.

                    p We may engage trusted third party service providers to perform functions and provide services to us, such as hosting and maintaining our servers and our service, database storage and management, e-mail management, storage marketing, credit card processing, customer service and fulfilling orders for products and services you may purchase through our platform. We will likely share your personal information, and possibly some non-personal information, with these third parties to enable them to perform these services for us and for you.

                    p We may share portions of our log file data, including IP addresses, for analytics purposes with third parties such as web analytics partners, application developers, and ad networks. If your IP address is shared, it may be used to estimate general location and other technographics such as connection speed, whether you have visited the service in a shared location, and type of device used to visit the service. They may aggregate information about our advertising and what you see on the service and then provide auditing, research and reporting for us and our advertisers.

                    p We may also disclose personal and non-personal information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate in order to respond to claims, legal process (including subpoenas), to protect our rights and interests or those of a third party, the safety of the public or any person, to prevent or stop any illegal, unethical, or legally actionable activity, or to otherwise comply with applicable court orders, laws, rules and regulations.

                div#data-security-policy.my-5
                h2 Data Security Policy
                p We take precautions to protect your personal information. When you submit sensitive information via the website, your information is protected both online and offline.
                p While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
                p If you feel that your privacy has been violated, you can contact us using the contact form on our website.
                p We will delete any personal information that is no longer needed.
                p We will not sell, rent or lease your personal information to anyone.
                p We will only use your personal information for the purposes for which you provided it.
                p We will update this privacy policy from time to time to keep it current.
                p If you feel that we are not abiding by this privacy policy, you should contact us immediately via the contact form on our website.

                div#child-policy.my-5
                h2 Child Policy
                p We do not knowingly collect any information from children under the age of 13. If you are under the age of 13, you must ask your parent or guardian for permission to use this website.

                div#tracking.my-5
                h2 Tracking
                p we use cookies and other tracking technologies to collect information about how you interact with our website.
                p We use cookies to collect information about how you interact with our website. This information is used to improve our website and to track the effectiveness of our advertising.
                span  We use cookies to track the effectiveness of our advertising.
                div#third-party-services.my-5
                h2 Third Party Services
                p We may use third party services such as Google Analytics to help us measure the effectiveness of our advertising.
                div#Your-Consent.my-5
                h2 Your Consent
                p By using our service, registering an account, or making a purchase, you consent to this Privacy Policy.
                div#Disclosure-of-Data
                h2 Disclosure of Data
                p We may disclose personally identifiable information that we collect from you if required to do so by law or in the good faith belief that such action is necessary to:
                ul
                    li  comply with a legal obligation
                    li  protect and defend the rights or property of Notes ocean .
                    li  prevent or investigate possible wrongdoing in connection with the Service
                    li  protect the personal safety of users of the Service or the public
                    li  protect against legal liability
                p We may also release your personal information when we believe release is appropriate to protect the rights and freedoms of others.
                div#contact-us
                h2 Contact Us
                p If you have any questions about this Privacy Policy, please contact us via the contact form on our website.
                p This Privacy Policy was last updated on 1 sept , 2022.


    include ../includes/footer