doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Privacy and policies
        include ../includes/bootstrap
    body 
        header
            include ../includes/navbar
        section(style="margin-top:100px")
            .container
                div#about-us
                    h2 About Us
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum distinctio asperiores, obcaecati vel ipsa, earum maiores quae adipisci magni expedita? Hic odio vitae itaque vero eos, facilis ad enim praesentium eius, ex excepturi fugit non suscipit sunt, quas ipsum in iste minus fuga quia consequatur asperiores laborum maiores consequuntur. Culpa, illum nihil delectus at, voluptatibus distinctio unde ratione earum quisquam quos repudiandae. Illo dolor iste provident unde perferendis placeat aperiam ex modi error magnam minus vitae sequi architecto nesciunt ea voluptate, officia optio molestias. Quod amet, vitae culpa, nisi cupiditate, officiis pariatur harum quis delectus eos praesentium dolores itaque.
                div#cookies-policy.my-5
                    h2 Cookie Policy
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum distinctio asperiores, obcaecati vel ipsa, earum maiores quae adipisci magni expedita? Hic odio vitae itaque vero eos, facilis ad enim praesentium eius, ex excepturi fugit non suscipit sunt, quas ipsum in iste minus fuga quia consequatur asperiores laborum maiores consequuntur. Culpa, illum nihil delectus at, voluptatibus distinctio unde ratione earum quisquam quos repudiandae. Illo dolor iste provident unde perferendis placeat aperiam ex modi error magnam minus vitae sequi architecto nesciunt ea voluptate, officia optio molestias. Quod amet, vitae culpa, nisi cupiditate, officiis pariatur harum quis delectus eos praesentium dolores itaque.
                div#login-cookies-policy.my-5
                    h2 Login Cookie Policy
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum distinctio asperiores, obcaecati vel ipsa, earum maiores quae adipisci magni expedita? Hic odio vitae itaque vero eos, facilis ad enim praesentium eius, ex excepturi fugit non suscipit sunt, quas ipsum in iste minus fuga quia consequatur asperiores laborum maiores consequuntur. Culpa, illum nihil delectus at, voluptatibus distinctio unde ratione earum quisquam quos repudiandae. Illo dolor iste provident unde perferendis placeat aperiam ex modi error magnam minus vitae sequi architecto nesciunt ea voluptate, officia optio molestias. Quod amet, vitae culpa, nisi cupiditate, officiis pariatur harum quis delectus eos praesentium dolores itaque.
                div#account-creation-policy.my-5
                    h2 Account Creation information
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum distinctio asperiores, obcaecati vel ipsa, earum maiores quae adipisci magni expedita? Hic odio vitae itaque vero eos, facilis ad enim praesentium eius, ex excepturi fugit non suscipit sunt, quas ipsum in iste minus fuga quia consequatur asperiores laborum maiores consequuntur. Culpa, illum nihil delectus at, voluptatibus distinctio unde ratione earum quisquam quos repudiandae. Illo dolor iste provident unde perferendis placeat aperiam ex modi error magnam minus vitae sequi architecto nesciunt ea voluptate, officia optio molestias. Quod amet, vitae culpa, nisi cupiditate, officiis pariatur harum quis delectus eos praesentium dolores itaque.
    include ../includes/footer