doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Verify email | Notes Ocean
        include ../../../../includes/bootstrap
        style
            include ../../../../../public/stylesheets/dashboard/dashboard.css
        style
            include ../../../../../public/stylesheets/dashboard/profile/verify/email/verify-email.css
    body
        //- include ../../../../includes/dashHeader
        section
            .d-flex.justify-content-center.align-items-center

                .card.border-0(style="height:80vh;width:100%")
                    img(src="/touch-icons/apple-touch-icon-120x120.png" alt="notes ocean logo" width="120px" style="margin:0 auto")
                    h5.my-3 Email Address Verification
                    span.mobile-text Enter the code we just send 6 digit verification code  on your email address 
                    b.text-danger.email-label.my-2.user-email-label
                    div.container.input-cont
                        input.form-control.rounded-0(type='text' autofocus,maxlength="6" placeholder="******")
                    button.btn.btn-notesocean.mt-5.rounded-0.mx-auto.verify-btn verify
                    .text-center.mt-5
                        span.d-block.mobile-text Don&apos;t receive the code?
                        span.font-weight-bold.text-danger.cursor.resend-btn Resend
                    //- logout button

                    button.btn.btn-outline-danger.mt-5.rounded-0.mx-auto.logout-btn
                        i.fa.fa-sign-out-alt
                        span  Logout
        section
            .position-fixed.top-0.end-0.p-3.mt-5.notice-box(style='z-index:9999')

        script(src="/vendors/hammer/hammer.min.js")
        script 
            include ../../../../../public/javascripts/common.js
        script 
            include ../../../../../public/javascripts/dashboard/profile/verify/email/verify-email.js
